force-app/main/default/flows/Application_Auto_Rejection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>check_Document</name>
        <label>check Document</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Docu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Document</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUser</targetReference>
            </connector>
            <label>Check Docu</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Application Auto Rejection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Auto Rejection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Document</name>
        <label>get Document</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Uploaded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Loan_Application_Reject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Application_Reject</name>
        <label>Update Loan Application Reject</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Loan_Application_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getUser.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason__c</field>
            <value>
                <stringValue>System Reject</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Sub_Reason__c</field>
            <value>
                <stringValue>Complete Documents not provided by the client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejected_By__c</field>
            <value>
                <elementReference>getUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document Verification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Loan_Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Document_Verification_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Loan_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Reject_Application</name>
            <connector>
                <targetReference>get_Document</targetReference>
            </connector>
            <label>Reject Application</label>
            <offsetNumber>60</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Document_Verification_Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
