force-app/main/default/flows/BL_Balance_Transfer_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>Validate if the balance transfer record ID exists.</description>
        <name>Record_ID_Exists</name>
        <label>Record ID Exists</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Balance_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Balance_Transfer_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate if the balance transfer record ID exists.</description>
        <name>RecordID_Exists</name>
        <label>Record ID Exists</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>BalanceTransfers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Upsert_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Balance_Transfers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Is_Read_Only</name>
        <label>Validate Is Read Only</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Record_ID_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Read Only False</defaultConnectorLabel>
        <rules>
            <name>Is_Read_Only_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Application_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application_Record.IsReadOnly__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>Is Read Only True</label>
        </rules>
    </decisions>
    <description>Adding Edit functionality</description>
    <dynamicChoiceSets>
        <name>OrganizationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Organization_Type__c</picklistField>
        <picklistObject>Balance_Transfer__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BL_Product__c</picklistField>
        <picklistObject>Balance_Transfer__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>BL_Balance Transfer Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BL_Balance Transfer Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>BalanceTransfers</name>
        <label>Balance Transfer</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>RecordCreatedSuccessfullyScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>BL_Existing_Loan_Start_Date__c</field>
            <value>
                <elementReference>Existing_Loan_Start_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Loan_Application__c</field>
            <value>
                <elementReference>loanApplicationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Loan_Tenure_Months__c</field>
            <value>
                <elementReference>Loan_Tenure_Months1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Name_of_Existing_Lender__c</field>
            <value>
                <elementReference>Name_of_Existing_Lender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_No_of_Installments_Paid__c</field>
            <value>
                <elementReference>No_of_Installments_Paid1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Outstanding_Amount__c</field>
            <value>
                <elementReference>Outstanding_Amount1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Product__c</field>
            <value>
                <elementReference>Product2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Sanctioned_Loan_Amount__c</field>
            <value>
                <elementReference>Sanctioned_Loan_Amount1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_Type__c</field>
            <value>
                <elementReference>Organization_Type1</elementReference>
            </value>
        </inputAssignments>
        <object>Balance_Transfer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Balance_Transfer_Record</name>
        <label>Fetch Balance Transfer Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Balance_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Balance_Transfer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch Loan Application Record Record</description>
        <name>Loan_Application_Record</name>
        <label>Loan Application Record</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Is_Read_Only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanApplicationID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Balance_Transfers</name>
        <label>Balance Transfer</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>RecordUpdatedSuccessfullyScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BL_Existing_Loan_Start_Date__c</field>
            <value>
                <elementReference>Existing_Loan_Start_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Loan_Tenure_Months__c</field>
            <value>
                <elementReference>Loan_Tenure_Months1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Name_of_Existing_Lender__c</field>
            <value>
                <elementReference>Name_of_Existing_Lender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_No_of_Installments_Paid__c</field>
            <value>
                <elementReference>No_of_Installments_Paid1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Outstanding_Amount__c</field>
            <value>
                <elementReference>Outstanding_Amount1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Sanctioned_Loan_Amount__c</field>
            <value>
                <elementReference>Sanctioned_Loan_Amount1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_Type__c</field>
            <value>
                <elementReference>Organization_Type1</elementReference>
            </value>
        </inputAssignments>
        <object>Balance_Transfer__c</object>
    </recordUpdates>
    <screens>
        <name>Balance_Transfer</name>
        <label>Balance Transfer</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RecordID_Exists</targetReference>
        </connector>
        <fields>
            <name>Balance_Transfers_Screen</name>
            <fieldText>Balance Transfer</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Balance_Transfers_Screen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_of_Existing_Lender</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Balance_Transfer_Record.BL_Name_of_Existing_Lender__c</elementReference>
                    </defaultValue>
                    <fieldText>Name of Existing Lender</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Organization_Type1</name>
                    <choiceReferences>OrganizationType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Balance_Transfer_Record.Organization_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Organization Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Loan_Tenure_Months1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Balance_Transfer_Record.BL_Loan_Tenure_Months__c</elementReference>
                    </defaultValue>
                    <fieldText>Loan Tenure (Months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>No_of_Installments_Paid1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Balance_Transfer_Record.BL_No_of_Installments_Paid__c</elementReference>
                    </defaultValue>
                    <fieldText>No. of Installments Paid</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Balance_Transfers_Screen_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existing_Loan_Start_Date1</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Balance_Transfer_Record.BL_Existing_Loan_Start_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Existing Loan Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 10, 10); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;The Existing Loan Start Date must be less than the current date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Existing_Loan_Start_Date1}&lt;= TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Product2</name>
                    <choiceReferences>Product1</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>productType</elementReference>
                    </defaultValue>
                    <fieldText>Product</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sanctioned_Loan_Amount1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Balance_Transfer_Record.BL_Sanctioned_Loan_Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Sanctioned Loan Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Outstanding_Amount1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Balance_Transfer_Record.BL_Outstanding_Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Outstanding Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>IsReadOnlyErrorScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IsReadOnlyTrue</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Oops! You don&apos;t have the privilege to create records. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordCreatedSuccessfullyScreen</name>
        <label>Record Created</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SaveMassage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(53, 157, 9);&quot;&gt;Balance Transfer Record Created Successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordUpdatedSuccessfullyScreen</name>
        <label>Record Updated</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SaveMassageUpdate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(53, 157, 9); font-size: 14px;&quot;&gt;Balance Transfer Record Updated Successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loan_Application_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>loanApplicationID</description>
        <name>loanApplicationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BL</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
