force-app/main/default/flows/BL_RCU_Manager_Decision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Query_Raised</name>
        <choiceText>Query Raised</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Query Raised</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sampled</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Sampled&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sampled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Screened</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Screened&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Screened</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status1</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_If_Screend</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_If_Screend</name>
        <label>Decision If Screend</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Status_of_Valuation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ScreenedDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_Screen</targetReference>
            </connector>
            <label>Screened</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>applicationLob</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK(TEXT({!Get_Loan_Application_as_per_valuation.Loan_Application__r.LOB__c}))) ),TEXT({!Get_Loan_Application_as_per_valuation.Loan_Application__r.LOB__c}) , &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>faultMsg</name>
        <dataType>String</dataType>
        <expression>MID(
{!$Flow.FaultMessage},
FIND(&quot;EXCEPTION:&quot;, {!$Flow.FaultMessage}) + LEN(&quot;EXCEPTION:&quot;),
FIND(&quot;You can look up&quot;, {!$Flow.FaultMessage}, FIND(&quot;EXCEPTION:&quot;, {!$Flow.FaultMessage})) - FIND(&quot;EXCEPTION:&quot;, {!$Flow.FaultMessage}) - LEN(&quot;EXCEPTION:&quot;))</expression>
    </formulas>
    <interviewLabel>BL RCU Manager Decision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BL RCU Manager Decision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Loan_Application_as_per_valuation</name>
        <label>Get Loan Application as per valuation</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loan_Application__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Valuation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_of_Valuation</name>
        <label>Update Status  of Valuation</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status1</elementReference>
            </value>
        </inputAssignments>
        <object>Valuation__c</object>
    </recordUpdates>
    <screens>
        <name>Change_Status</name>
        <label>Change Status</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>Status1</name>
            <choiceReferences>Screened</choiceReferences>
            <choiceReferences>Sampled</choiceReferences>
            <choiceReferences>Query_Raised</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SampledMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please go to the application for further process.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Sampled</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Error Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Please fill Result and Manager Comments before mark as Screened.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!faultMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Application_as_per_valuation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>RCU activity is completed by manager</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Valuation__c</objectType>
    </variables>
</Flow>
