force-app/main/default/flows/BL_RCU_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Record_Sharing</name>
        <label>Apex Record Sharing</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <actionName>UB_CommonUtil</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordAccessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userOrGroupId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Apex_Record_Sharing3</name>
        <label>Apex Record Sharing</label>
        <locationX>2822</locationX>
        <locationY>2879</locationY>
        <actionName>UB_CommonUtil</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordAccessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userOrGroupId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_not_avaible_activity</name>
        <label>Assign not avaible activity</label>
        <locationX>2778</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>sherlock_hunter_notAvail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_pending_activity</name>
        <label>Assign pending activity</label>
        <locationX>2349</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>pendingActivity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_RCU_activities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recs</name>
        <label>Assign Recs</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>recsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UB_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recs1</name>
        <label>Assign Recs</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>recsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UB_Custom_Notification1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recs2</name>
        <label>Assign Recs</label>
        <locationX>2822</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>recsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UB_Custom_Notification2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Shelock_Hunter_Available</name>
        <label>Shelock&amp;Hunter Available</label>
        <locationX>3042</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>sherHunterNotCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_applicants</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Available_but_not_complete</name>
        <label>Available but not complete</label>
        <locationX>3174</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Loop_on_applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_applicants.Sherlock_Verification__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_applicants.Hunter_Verification__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shelock_Hunter_Available</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Available_but_not_completed</name>
        <label>Available but not completed</label>
        <locationX>2690</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Update_RCU_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sherHunterNotCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Available_but_not_completed_Hunter_Sherlock</targetReference>
            </connector>
            <label>Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>BL_RCU_Vendor1</name>
        <label>BL RCU Vendor</label>
        <locationX>2162</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCU Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_RCU_Vendor_Revoke</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>BL_RCU_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Application__r.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCU_Activity_Decision</targetReference>
            </connector>
            <label>BL RCU Activity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Applicant_List</name>
        <label>Check Applicant List</label>
        <locationX>2888</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pending_Verifications_Applicants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_applicants</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Not_Available</name>
        <label>Check Not Available</label>
        <locationX>2690</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Available_but_not_completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Api_Sherlock_Hunter_Not_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sherlock_hunter_notAvail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Available_Hunter_Sherlock</targetReference>
            </connector>
            <label>Api Sherlock&amp;Hunter Not available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_pending_activity</name>
        <label>Check the pending activity</label>
        <locationX>2261</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Get_Pending_Verifications_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pendingActivity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Activity_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Parent_Owner_is_not_Queue</name>
        <label>Decision Parent Owner is not Queue</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BL_Vendor_Activity__r.Owner:Group.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BL RCU Manager Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RCU_Revoked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Parent_Owner_is_not_Queue1</name>
        <label>Decision Parent Owner is not Queue</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BL_Vendor_Activity__r.Owner:Group.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BL RCU Manager Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RCU_Completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_RCU_Vendor_Revoke</name>
        <label>Decision RCU Vendor Revoke</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCU Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RCU_Manager_Field</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>BL_RCU_vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Revoked__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Revoked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Parent_Owner_is_not_Queue</targetReference>
            </connector>
            <label>BL RCU vendor</label>
        </rules>
        <rules>
            <name>Vendor_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vendor_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vendor_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Parent_Owner_is_not_Queue1</targetReference>
            </connector>
            <label>Vendor Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_verification_pending</name>
        <label>if verification pending</label>
        <locationX>3130</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Loop_on_applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sherlock_Hunter</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_applicants.Sherlock_Verification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_applicants.Hunter_Verification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_not_avaible_activity</targetReference>
            </connector>
            <label>Sherlock &amp; Hunter Not Available</label>
        </rules>
        <rules>
            <name>Sherlock_Hunter1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_applicants.Sherlock_Verification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_applicants.Hunter_Verification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Available_but_not_complete</targetReference>
            </connector>
            <label>Sherlock_Hunter Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending_Activity_Decision</name>
        <label>Pending Activity Decision</label>
        <locationX>2481</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_on_RCU_activities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_RCU_activities.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_pending_activity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RCU_Activity_Decision</name>
        <label>RCU Activity Decision</label>
        <locationX>2805</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RCU_Activity</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comment__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RCU_Vendor_Pending_activities</targetReference>
            </connector>
            <label>RCU Activity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>BL RCU After Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BL RCU After Flow</label>
    <loops>
        <name>Loop_on_applicants</name>
        <label>Loop on applicants</label>
        <locationX>2690</locationX>
        <locationY>1463</locationY>
        <collectionReference>Get_Pending_Verifications_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>if_verification_pending</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Not_Available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_RCU_activities</name>
        <label>Loop on RCU activities</label>
        <locationX>2261</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_RCU_Vendor_Pending_activities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Pending_Activity_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_the_pending_activity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pending_Verifications_Applicants</name>
        <label>Get Pending Verifications Applicants</label>
        <locationX>2888</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Applicant_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Applicant_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loan_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RCU_Vendor_Pending_activities</name>
        <label>Get RCU Vendor Pending activities</label>
        <locationX>2261</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_RCU_activities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BL_Vendor_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Valuation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RCU_Completed</name>
        <label>Update RCU Completed</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Assign_Recs1</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.BL_Vendor_Activity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RCU_Manager_Field</name>
        <label>Update RCU Manager Field</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>RCU_Manager__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RCU_Record</name>
        <label>Update RCU Record</label>
        <locationX>2822</locationX>
        <locationY>2555</locationY>
        <connector>
            <targetReference>Assign_Recs2</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Loan_Application__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RCU_Revoked</name>
        <label>Update RCU Revoked</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Assign_Recs</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.BL_Vendor_Activity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BL_RCU_Vendor1</targetReference>
        </connector>
        <object>Valuation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>UB_Custom_Notification</name>
        <label>UB_Custom Notification</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <flowName>UB_Custom_Notification_Flow</flowName>
        <inputAssignments>
            <name>CustomNotificationDeveloperName</name>
            <value>
                <stringValue>Lead_Owner_Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Activity Revoked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIDs</name>
            <value>
                <elementReference>recsIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UB_Custom_Notification1</name>
        <label>UB_Custom Notification</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Apex_Record_Sharing</targetReference>
        </connector>
        <flowName>UB_Custom_Notification_Flow</flowName>
        <inputAssignments>
            <name>CustomNotificationDeveloperName</name>
            <value>
                <stringValue>Lead_Owner_Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>notificationBodyCompleted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Activity Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIDs</name>
            <value>
                <elementReference>recsIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UB_Custom_Notification2</name>
        <label>UB_Custom Notification</label>
        <locationX>2822</locationX>
        <locationY>2771</locationY>
        <connector>
            <targetReference>Apex_Record_Sharing3</targetReference>
        </connector>
        <flowName>UB_Custom_Notification_Flow</flowName>
        <inputAssignments>
            <name>CustomNotificationDeveloperName</name>
            <value>
                <stringValue>Lead_Owner_Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>notificationBodyCompletedBURCUmanager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Activity Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIDs</name>
            <value>
                <elementReference>recsIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The activity has been revoked by manager : {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>notificationBodyCompleted</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This activity has been completed by vendor : {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>notificationBodyCompletedBURCUmanager</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This activity has been completed : {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>pendingActivity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sherHunterNotCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sherlock_hunter_notAvail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
