force-app/main/default/flows/Document_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>documentRec.Document_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Sub_TypeContractDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkMetaDataForAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1</name>
        <label>Assign 1</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>documentRec.Document_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Sub_TypeFleetList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkMetaDataForAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_3</name>
        <label>Assign 3</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>documentRec.Document_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Sub_TypeCR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkMetaDataForAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Disbursement_Record</name>
        <label>Assign Disbursement Record</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>documentRec.Disbursement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_laf_form</name>
        <label>Assign laf form</label>
        <locationX>842</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>documentRec.Is_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRec.Document_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Sub_TypeForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkMetaDataForAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record</name>
        <label>Assign Record</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>documentRec.Loan_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRec.Loan_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicantId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_1</name>
        <label>Assign Record 1</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>documentRec.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRec.Loan_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicantId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SL_to_1</name>
        <label>Assign SL to 1</label>
        <locationX>512</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>documentRec.Sanction_Condition_Sl_no__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Sanction_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Document</name>
        <label>Assignment Document</label>
        <locationX>776</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>documentRec.Other_Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRec.Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Sanction_Document</name>
        <label>Assignment Sanction Document</label>
        <locationX>380</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>documentRec.Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sanction Condition</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Uploaded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRec.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_SL_by_1</name>
        <label>Increment SL by 1</label>
        <locationX>248</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>documentRec.Sanction_Condition_Sl_no__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSanctionSerialNo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Sanction_Document</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Additional_Collateral_Details_If_Any</name>
        <choiceText>Additional Collateral Details If Any</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Additional Collateral Details If Any</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consent</name>
        <choiceText>Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contract_Copy</name>
        <choiceText>Contract Copy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract Copy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contract_Details</name>
        <choiceText>Contract Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Reference</name>
        <choiceText>Credit Reference</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Reference</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fleet_List</name>
        <choiceText>Fleet List</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fleet List</stringValue>
        </value>
    </choices>
    <choices>
        <name>LAF_Form</name>
        <choiceText>LAF Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LAF Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>LAF_Form_signed</name>
        <choiceText>LAF Form - signed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LAF Form - signed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Latest_Sanction_Letters_of_Facilities_Availed_from_Financiers</name>
        <choiceText>Latest Sanction Letters of Facilities Availed from Financiers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Latest Sanction Letters of Facilities Availed from Financiers</stringValue>
        </value>
    </choices>
    <choices>
        <name>Others</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>PD</name>
        <choiceText>PD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Photo</name>
        <choiceText>Photo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Photo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tractor_For_Agri_Funding_Only</name>
        <choiceText>Tractor [For Agri Funding Only]</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tractor [For Agri Funding Only]</stringValue>
        </value>
    </choices>
    <choices>
        <name>WIH_CIH</name>
        <choiceText>WIH/ CIH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WIH/ CIH</stringValue>
        </value>
    </choices>
    <choices>
        <name>Work_Completion_Certificate</name>
        <choiceText>Work Completion Certificate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Work Completion Certificate</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Application_Or_Lead</name>
        <label>Check Application Or Lead</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan_Application__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record</targetReference>
            </connector>
            <label>Application</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_1</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Disbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disbursement__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Disbursement_Record</targetReference>
            </connector>
            <label>Disbursement</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMetaData</name>
        <label>checkMetaData</label>
        <locationX>930</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Document_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sanction_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metaData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sanction_Condition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sanction_Conditions</targetReference>
            </connector>
            <label>Sanction Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMetaDataForAssignment</name>
        <label>checkMetaDataForAssignment</label>
        <locationX>578</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Assignment_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sanction_Condition_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metaData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sanction_Condition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Last_Sanction_Serial_Number</targetReference>
            </connector>
            <label>Sanction Condition Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>578</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>checkMetaDataForAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Document_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>Contract Details</label>
        </rules>
        <rules>
            <name>FL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Document_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1</targetReference>
            </connector>
            <label>FL</label>
        </rules>
        <rules>
            <name>CR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Document_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Reference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_3</targetReference>
            </connector>
            <label>CR</label>
        </rules>
        <rules>
            <name>LAF_FormDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Document_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAF Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_laf_form</targetReference>
            </connector>
            <label>LAF Form</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Serial_Number_Exist</name>
        <label>Does Serial Number Exist</label>
        <locationX>380</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Assign_SL_to_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SL_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Sanction_Serial_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_SL_by_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Id_Null</name>
        <label>Record Id Null</label>
        <locationX>930</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Application_Or_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NextSanctionSerialNo</name>
        <dataType>Number</dataType>
        <expression>{!Get_Last_Sanction_Serial_Number.Sanction_Condition_Sl_no__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Document Information {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Document Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Document</name>
        <label>Create Document</label>
        <locationX>578</locationX>
        <locationY>1850</locationY>
        <inputReference>documentRec</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_Sanction_Serial_Number</name>
        <label>Get Last Sanction Serial Number</label>
        <locationX>380</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Serial_Number_Exist</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sanction Condition</stringValue>
            </value>
        </filters>
        <filters>
            <field>Disbursement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Document_Information</name>
        <label>Document Information</label>
        <locationX>1062</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Record_Id_Null</targetReference>
        </connector>
        <fields>
            <name>Document_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Document_Type</name>
                    <choiceReferences>Consent</choiceReferences>
                    <choiceReferences>Others</choiceReferences>
                    <choiceReferences>Contract_Details</choiceReferences>
                    <choiceReferences>Additional_Collateral_Details_If_Any</choiceReferences>
                    <choiceReferences>Latest_Sanction_Letters_of_Facilities_Availed_from_Financiers</choiceReferences>
                    <choiceReferences>Fleet_List</choiceReferences>
                    <choiceReferences>Credit_Reference</choiceReferences>
                    <choiceReferences>LAF_Form</choiceReferences>
                    <choiceReferences>PD</choiceReferences>
                    <choiceReferences>Photo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Document Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_Document_Type</name>
                    <dataType>String</dataType>
                    <fieldText>Other Document Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Document_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Others</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_Required</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is Required</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Document_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>LAF_Form</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Document_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Document_Sub_TypeCR</name>
                    <choiceReferences>Latest_Sanction_Letters_of_Facilities_Availed_from_Financiers</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Document Sub Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Document_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Credit Reference</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Document_Sub_TypeFleetList</name>
                    <choiceReferences>Tractor_For_Agri_Funding_Only</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Document Sub Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Document_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Fleet List</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Document_Sub_TypeContractDetails</name>
                    <choiceReferences>Contract_Copy</choiceReferences>
                    <choiceReferences>WIH_CIH</choiceReferences>
                    <choiceReferences>Work_Completion_Certificate</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Document Sub Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Document_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Contract Details</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Document_Sub_TypeForm</name>
                    <choiceReferences>LAF_Form_signed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Document Sub Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Document_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>LAF Form</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>documentRec.Is_Required__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Document_Type</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>LAF_Form</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sanction_Conditions</name>
        <label>Sanction Condition</label>
        <locationX>798</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Record_Id_Null</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>Pending</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Pending</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkMetaData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>metaData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
