force-app/main/default/flows/Loan_Applicant_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Account_for_other</name>
        <label>Assign Account for other</label>
        <locationX>936</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nonIndividualRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Is_Deleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_DML</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant</name>
        <label>Assign Applicant</label>
        <locationX>941</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.Applicant_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Applicant_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Applicant_check_for_Sole_Indi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Applicant_Type</name>
        <label>Assign Applicant Type</label>
        <locationX>677</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.Applicant_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Applicant_check_for_Sole_Indi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Id</name>
        <label>Assign Application Id</label>
        <locationX>2558</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.Loan_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicationRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicantId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Constitution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_account</name>
        <label>Assign New account</label>
        <locationX>314</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invidualRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Is_Deleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Loan_Applicant_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Account_for_others</name>
        <label>Assign New Account for others</label>
        <locationX>2256</locationX>
        <locationY>4322</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nonIndividualRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Is_Deleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Other_Loan_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_Individual_Record_Type</name>
        <label>Assign Non Individual Record Type</label>
        <locationX>2476</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>nonIndividualRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sole_Record_Type</name>
        <label>Assign Sole Record Type</label>
        <locationX>2212</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>invidualRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_New_Applicant</name>
        <label>Assign Variables New Applicant</label>
        <locationX>809</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Middle_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Constitution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Constitution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Father_Spouse_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Father_Spouse_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GenderCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Education__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Education</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Marital_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marital_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Residential_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Residential_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Religion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReligionCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Proof_of_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proof_of_Address1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Address_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Type1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Pan_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pan_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Is_Related_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Related_Party</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.KYC_Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KYC_Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Type_Of_Profession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_Of_ProfessionIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Maiden_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maiden_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Mother_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mother_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Name_of_Spouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Spouse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Identification_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identification_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Name_of_the_Director_Senior_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_the_Director_Senior_Officer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Name_of_the_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_the_Director</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Relationship_with_Director_Senior_Offic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_Director_Senior_Officer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Name_of_the_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_the_Bank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Salutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalutationIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Occupation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupation_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Politically_Exposed_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Politically_Exposed_Person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Official_Email_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Email_ID.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Employer_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_Detail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Type_Of_Profession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_Of_ProfessionIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Registration_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration_Membership_No</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Employee_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Designation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Designation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.No_of_years_at_current_job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_years_at_current_job</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Name_of_Previous_Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Previous_Organisation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Total_Work_Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Work_Experience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Net_Annual_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Net_Annual_IncomeIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Gross_Annual_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gross_Annual_IncomeIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Income_from_other_sources__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Income_from_other_sources</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Income_from_Agriculture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Income_from_AgricultureIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Nationality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NationalityIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_ind.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Nature_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nature_of_Business</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Industry_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Selected_LA</name>
        <label>Assignment Selected LA</label>
        <locationX>1309</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Maiden_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant.Maiden_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Mother_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant.Mother_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Name_of_Spouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant.Name_of_Spouse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Pan_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant.Pan_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Pan_Number_Spouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant.Pan_Number_Spouse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Date_of_birth_of_Spouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant.Date_of_birth_of_Spouse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Loan_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant.Loan_Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Is_Related_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant.Is_Related_Party__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Type_Of_Profession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant.Type_Of_Profession__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.KYC_Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant.KYC_Document_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Constitution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Variables</name>
        <label>Copy 1 of Assign Variables</label>
        <locationX>545</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Middle_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Constitution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant.Constitution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Father_Spouse_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Father_Spouse_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GenderCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Education__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Education</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Marital_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marital_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Residential_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Residential_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Religion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReligionCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Proof_of_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proof_of_Address1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Address_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Type1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Pan_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pan_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Is_Related_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Related_Party</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.KYC_Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KYC_Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Type_Of_Profession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_Of_ProfessionIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Maiden_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maiden_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Mother_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mother_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Name_of_Spouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Spouse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Identification_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identification_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Name_of_the_Director_Senior_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_the_Director_Senior_Officer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Name_of_the_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_the_Director</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Relationship_with_Director_Senior_Offic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_Director_Senior_Officer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Name_of_the_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_the_Bank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Salutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalutationIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Occupation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupation_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Politically_Exposed_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Politically_Exposed_Person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Official_Email_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Email_ID.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Employer_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_Detail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Type_Of_Profession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_Of_ProfessionIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Registration_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration_Membership_No</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Employee_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Designation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Designation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.No_of_years_at_current_job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_years_at_current_job</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Name_of_Previous_Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Previous_Organisation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Total_Work_Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Work_Experience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Net_Annual_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Net_Annual_IncomeIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Gross_Annual_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gross_Annual_IncomeIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Income_from_other_sources__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Income_from_other_sources</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Income_from_Agriculture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Income_from_AgricultureIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Nationality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NationalityIndi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_ind.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Nature_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nature_of_Business</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Industry_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Existing_Applicant_Other</name>
        <label>Existing Applicant Other</label>
        <locationX>1860</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.Entity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Date_Of_Incorporation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Of_Incorporation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Registration_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Type_Of_Profession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_Of_Profession</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Gross_Annual_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gross_Annual_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Net_Annual_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Net_Annual_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Income_from_Agriculture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Income_from_Agriculture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Constitution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Applicant.Constitution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Other_Constitution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_ConstitutionOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Applicant_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicantTypeValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Pan_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pan_NumberOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Address_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Proof_of_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proof_of_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobileOther.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.No_of_Years_in_previous_business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_Years_in_previous_business</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Income_from_Agriculture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Income_from_Agriculture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.No_of_Years_in_current_business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_Years_in_current_business</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.GST_Registration_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST_Registration_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Net_Annual_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Net_Annual_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Gross_Annual_Turnover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gross_Annual_Turnover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Beneficiery_of_GST_Benefit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Beneficiery_of_GST_Benefit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Official_Email_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Email_ID_NON.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_non_ind.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Nature_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nature_of_BusinessOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Industry_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry_TypeOther</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PAN_for_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Applicant_Other</name>
        <label>New Applicant Other</label>
        <locationX>2124</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>loanApplicant.Entity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Date_Of_Incorporation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Of_Incorporation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Registration_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Type_Of_Profession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_Of_Profession</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Gross_Annual_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gross_Annual_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Net_Annual_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Net_Annual_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Income_from_Agriculture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Income_from_Agriculture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Constitution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Constitution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Other_Constitution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_ConstitutionOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Applicant_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Applicant_TypeOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Pan_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pan_NumberOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Address_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Proof_of_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proof_of_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobileOther.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.No_of_Years_in_previous_business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_Years_in_previous_business</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Income_from_Agriculture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Income_from_Agriculture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.No_of_Years_in_current_business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_Years_in_current_business</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.GST_Registration_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST_Registration_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Net_Annual_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Net_Annual_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Gross_Annual_Turnover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gross_Annual_Turnover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Beneficiery_of_GST_Benefit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Beneficiery_of_GST_Benefit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Official_Email_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Email_ID_NON.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_non_ind.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Nature_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nature_of_BusinessOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanApplicant.Industry_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry_TypeOther</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PAN_for_Other</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Architect</name>
        <choiceText>Architect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Architect	</stringValue>
        </value>
    </choices>
    <choices>
        <name>CA_CS</name>
        <choiceText>CA/CS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CA/CS	</stringValue>
        </value>
    </choices>
    <choices>
        <name>Co_Applicant</name>
        <choiceText>Co-Applicant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Co-Applicant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Doctor</name>
        <choiceText>Doctor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Doctor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dr</name>
        <choiceText>Dr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Driving_Licence</name>
        <choiceText>Driving Licence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Driving Licence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Engineer</name>
        <choiceText>Engineer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Engineer	</stringValue>
        </value>
    </choices>
    <choices>
        <name>Guarantor</name>
        <choiceText>Guarantor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Guarantor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lawyer</name>
        <choiceText>Lawyer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lawyer	</stringValue>
        </value>
    </choices>
    <choices>
        <name>M_S</name>
        <choiceText>M/s.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M/s.</stringValue>
        </value>
    </choices>
    <choices>
        <name>MNREGA_Job_Card</name>
        <choiceText>MNREGA Job Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MNREGA Job Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mrs.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ms.</stringValue>
        </value>
    </choices>
    <choices>
        <name>National_Population_Register_NPR</name>
        <choiceText>National Population Register (NPR)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>National Population Register (NPR)</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoRelated</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OthersDocType</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>OthersProfession</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others	</stringValue>
        </value>
    </choices>
    <choices>
        <name>Passport</name>
        <choiceText>Passport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Passport</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prof</name>
        <choiceText>Prof.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prof.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voter_Identity_Card</name>
        <choiceText>Voter Identity Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Voter Identity Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesRelated</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Applicant_check_for_Sole_Indi</name>
        <label>Applicant check for Sole/Indi</label>
        <locationX>809</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Variables</targetReference>
            </connector>
            <label>Existing Applicant</label>
        </rules>
        <rules>
            <name>New_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variables_New_Applicant</targetReference>
            </connector>
            <label>New Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PAN_for_Other</name>
        <label>Check PAN for Other</label>
        <locationX>2124</locationX>
        <locationY>3890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pan_NumberOther</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Loan_Account_as_per_PAN_for_Other</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Applicant_Id</name>
        <label>Decision Applicant Id</label>
        <locationX>2124</locationX>
        <locationY>3590</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Applicant_Other</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Applicant_Other</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Constitution</name>
        <label>Decision Constitution</label>
        <locationX>2558</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Individual_Sole</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Constitution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sole Proprietorship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Constitution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Loan_App_Info</targetReference>
            </connector>
            <label>Individual/Sole</label>
        </rules>
        <rules>
            <name>Other_Constitution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Constitution</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sole Proprietorship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Constitution</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Screen</targetReference>
            </connector>
            <label>Other Constitution</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_DML</name>
        <label>Decision DML</label>
        <locationX>936</locationX>
        <locationY>4322</locationY>
        <defaultConnector>
            <targetReference>Creare_LA_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_LA_Other</targetReference>
            </connector>
            <label>For Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Existing_Loan_Account_as_per_PAN</name>
        <label>Decision Existing Loan Account as per PAN</label>
        <locationX>182</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Assign_New_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Loan_Account_as_per_PAN.Pan_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pan_Number</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Loan_Account_as_per_PAN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LA_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_If_Applicant</name>
        <label>Decision If Applicant</label>
        <locationX>809</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Assign_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_If_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Applicant.Applicant_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applicant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Applicant_Type</targetReference>
            </connector>
            <label>Outcome 1 of Decision If Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Loan_Applicant_Id</name>
        <label>Decision Loan Applicant Id</label>
        <locationX>2124</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Loan_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Applicant</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Pan_for_others</name>
        <label>Decision Pan for others</label>
        <locationX>1464</locationX>
        <locationY>4106</locationY>
        <defaultConnector>
            <targetReference>DML_for_Other_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Loan_Account_as_per_PAN_for_Other.Pan_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_for_other</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Record_Type</name>
        <label>Decision Record Type</label>
        <locationX>2476</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sole_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sole_Record_Type</targetReference>
            </connector>
            <label>Sole/Individual</label>
        </rules>
        <rules>
            <name>Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Non_Individual_Record_Type</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>DML_Decision</name>
        <label>DML Decision</label>
        <locationX>809</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_LA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>INSERT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pan_Number_Null</targetReference>
            </connector>
            <label>INSERT</label>
        </rules>
    </decisions>
    <decisions>
        <name>DML_for_Other_Screen</name>
        <label>DML for Other Screen</label>
        <locationX>1992</locationX>
        <locationY>4214</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Account_for_others</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LA</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Applicant_Decision</name>
        <label>Loan Applicant Decision</label>
        <locationX>1691</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Selected_LA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pan_Number_Null</name>
        <label>Pan Number Null</label>
        <locationX>512</locationX>
        <locationY>2198</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pan_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Loan_Account_as_per_PAN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Constitution</name>
        <label>Selected Constitution</label>
        <locationX>1309</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sole_Indi</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loanApplicant.Constitution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sole Proprietorship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanApplicant.Constitution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_App_Info</targetReference>
            </connector>
            <label>Sole/Indi</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loanApplicant.Constitution__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sole Proprietorship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanApplicant.Constitution__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Screen</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>addressTypeOthers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Address_Type__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>applicantType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Applicant_Type__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>constitution</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Constitution__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>edut</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Education__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EmployerDetail</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Employer_Detail__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>industryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry_Type__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>maritalStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marital_Status__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Nationality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nationality__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OccupationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Occupation_Type__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PoliticallyExposedPerson</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Politically_Exposed_Person__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>profession</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_Of_Profession__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>proofAddressOthers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Proof_of_Address__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>religion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Religion__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>residentialStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Residential_Status__c</picklistField>
        <picklistObject>Loan_Applicant__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>applicantTypeValue</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Selected_Applicant.Applicant_Type__c}, &apos;Applicant&apos;), &apos;Applicant&apos;, {!Applicant_TypeOther})</expression>
    </formulas>
    <formulas>
        <name>faultMsg</name>
        <dataType>String</dataType>
        <expression>MID(
{!$Flow.FaultMessage},
FIND(&quot;EXCEPTION:&quot;, {!$Flow.FaultMessage}) + LEN(&quot;EXCEPTION:&quot;),
FIND(&quot;You can look up&quot;, {!$Flow.FaultMessage}, FIND(&quot;EXCEPTION:&quot;, {!$Flow.FaultMessage})) - FIND(&quot;EXCEPTION:&quot;, {!$Flow.FaultMessage}) - LEN(&quot;EXCEPTION:&quot;))</expression>
    </formulas>
    <interviewLabel>Loan Applicant Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Applicant Screen</label>
    <loops>
        <name>Loop_on_record_Type</name>
        <label>Loop on record Type</label>
        <locationX>2124</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Record_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Record_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Loan_Applicant_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creare_LA_Other</name>
        <label>Creare LA Other</label>
        <locationX>1200</locationX>
        <locationY>4430</locationY>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <inputReference>loanApplicant</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Applicant_New</name>
        <label>Create Loan Applicant New</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <faultConnector>
            <targetReference>Error_Screen_6</targetReference>
        </faultConnector>
        <inputReference>loanApplicant</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Other_Loan_Applicant</name>
        <label>Create Other Loan Applicant</label>
        <locationX>2256</locationX>
        <locationY>4430</locationY>
        <faultConnector>
            <targetReference>Error_Screen_3</targetReference>
        </faultConnector>
        <inputReference>loanApplicant</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Loan_Account_as_per_PAN</name>
        <label>Get Existing Loan Account as per PAN</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Existing_Loan_Account_as_per_PAN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pan_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pan_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Loan_Account_as_per_PAN_for_Other</name>
        <label>Get Existing Loan Account as per PAN for Other</label>
        <locationX>1464</locationX>
        <locationY>3998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Pan_for_others</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pan_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pan_NumberOther</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>2124</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_record_Type</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan_Applicant__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non_Individual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Applicant</name>
        <label>Get Selected Applicant</label>
        <locationX>1691</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_Applicant_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicantId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_LA</name>
        <label>Update Existing LA</label>
        <locationX>1106</locationX>
        <locationY>2198</locationY>
        <faultConnector>
            <targetReference>Error_Screen_7</targetReference>
        </faultConnector>
        <inputReference>loanApplicant</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_LA_Other</name>
        <label>Update Existing LA Other</label>
        <locationX>672</locationX>
        <locationY>4430</locationY>
        <faultConnector>
            <targetReference>Error_Screen_8</targetReference>
        </faultConnector>
        <inputReference>loanApplicant</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LA</name>
        <label>Update LA</label>
        <locationX>1728</locationX>
        <locationY>4322</locationY>
        <faultConnector>
            <targetReference>Screen_9</targetReference>
        </faultConnector>
        <inputReference>loanApplicant</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen_1</name>
        <label>Error Screen 1</label>
        <locationX>1464</locationX>
        <locationY>4538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!faultMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_3</name>
        <label>Error Screen 3</label>
        <locationX>2520</locationX>
        <locationY>4538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!faultMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_6</name>
        <label>Error Screen 6</label>
        <locationX>578</locationX>
        <locationY>2738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error6</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!faultMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_7</name>
        <label>Error Screen 7</label>
        <locationX>1370</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error7</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!faultMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_8</name>
        <label>Error Screen 8</label>
        <locationX>936</locationX>
        <locationY>4538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error8</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!faultMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LA_Exist</name>
        <label>LA Exist</label>
        <locationX>50</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LAExist</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;This {!Pan_Number} is already exist with other applicant, Please use different PAN for proceed!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loan_App_Info</name>
        <label>Loan App Info</label>
        <locationX>809</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous</backButtonLabel>
        <connector>
            <targetReference>Loan_Info_2</targetReference>
        </connector>
        <fields>
            <name>Applicant_Details</name>
            <fieldText>Applicant Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Applicant_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Applicant_Type</name>
                    <choiceReferences>Co_Applicant</choiceReferences>
                    <choiceReferences>Guarantor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Applicant_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Applicant Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Selected_Applicant.Applicant_Type__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Applicant</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.First_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Maiden_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Maiden_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Maiden Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>SalutationIndi</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mrs.</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>SalutationIndi</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Ms.</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Mother_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Mother_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Mother Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Date_of_Birth__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>email_ind</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>loanApplicant.Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>GenderCustomer</name>
                    <choiceReferences>gender</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Gender__c</elementReference>
                    </defaultValue>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Address_Type1</name>
                    <choiceReferences>addressTypeOthers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Address_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Address Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Education</name>
                    <choiceReferences>edut</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Education__c</elementReference>
                    </defaultValue>
                    <fieldText>Education</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NationalityIndi</name>
                    <choiceReferences>Nationality</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Nationality__c</elementReference>
                    </defaultValue>
                    <fieldText>Nationality</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Residential_Status</name>
                    <choiceReferences>residentialStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Residential_Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Residential Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Name_of_Spouse</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Name_of_Spouse__c</elementReference>
                    </defaultValue>
                    <fieldText>Name of Spouse</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Pan_Number_Spouse__c</objectFieldReference>
                </fields>
                <fields>
                    <name>KYC_Document_Type</name>
                    <choiceReferences>Passport</choiceReferences>
                    <choiceReferences>Driving_Licence</choiceReferences>
                    <choiceReferences>Voter_Identity_Card</choiceReferences>
                    <choiceReferences>MNREGA_Job_Card</choiceReferences>
                    <choiceReferences>National_Population_Register_NPR</choiceReferences>
                    <choiceReferences>OthersDocType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.KYC_Document_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>KYC Document Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Identification_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Identification_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Identification Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Applicant_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SalutationIndi</name>
                    <choiceReferences>Mr</choiceReferences>
                    <choiceReferences>Ms</choiceReferences>
                    <choiceReferences>Mrs</choiceReferences>
                    <choiceReferences>Dr</choiceReferences>
                    <choiceReferences>Prof</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Salutation__c</elementReference>
                    </defaultValue>
                    <fieldText>Salutation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Middle_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Middle_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Middle Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Last_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Father_Spouse_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Father_Spouse_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Father/Spouse Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>loanApplicant.Mobile__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CategoryCustomer</name>
                    <choiceReferences>category</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Category__c</elementReference>
                    </defaultValue>
                    <fieldText>Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Proof_of_Address1</name>
                    <choiceReferences>proofAddressOthers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Proof_of_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Proof of Address</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Proof_Of_Address_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Proof_of_Address1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Others</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Marital_Status</name>
                    <choiceReferences>maritalStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Marital_Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Marital Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ReligionCustomer</name>
                    <choiceReferences>religion</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Religion__c</elementReference>
                    </defaultValue>
                    <fieldText>Religion</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Pan_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Pan_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Pan Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Date_of_birth_of_Spouse__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.KYC_Document_Type_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>KYC_Document_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>OthersDocType</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>General_InformationIndi</name>
            <fieldText>Other Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_InformationIndi_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_Related_Party</name>
                    <choiceReferences>YesRelated</choiceReferences>
                    <choiceReferences>NoRelated</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Is_Related_Party__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Related Party</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.GST_Registration_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>General_InformationIndi_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Beneficiery_of_GST_Benefit__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Details_of_relationship</name>
            <fieldText>Details of relationship (If any with any director/ senior officer of USFBL)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Details_of_relationship_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_of_the_Director_Senior_Officer</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Name_of_the_Director_Senior_Officer__c</elementReference>
                    </defaultValue>
                    <fieldText>Name of the Director/Senior Officer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Name_of_the_Director</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Name_of_the_Director__c</elementReference>
                    </defaultValue>
                    <fieldText>Name of the Director</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Details_of_relationship_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Relationship_Director_Senior_Officer</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Relationship_with_Director_Senior_Offic__c</elementReference>
                    </defaultValue>
                    <fieldText>Relationship(Director/Senior Officer)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Name_of_the_Bank</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Name_of_the_Bank__c</elementReference>
                    </defaultValue>
                    <fieldText>Name of the Bank</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Related_Party</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loan_Applicant</name>
        <label>Loan Applicant</label>
        <locationX>2558</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Application_Id</targetReference>
        </connector>
        <fields>
            <name>Select_Constitution</name>
            <choiceReferences>constitution</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Constitution</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loan_Info_2</name>
        <label>Loan Info 2</label>
        <locationX>809</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous</backButtonLabel>
        <connector>
            <targetReference>Decision_If_Applicant</targetReference>
        </connector>
        <fields>
            <name>Occupation_Details</name>
            <fieldText>Occupation Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Occupation_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Occupation_Type</name>
                    <choiceReferences>OccupationType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Occupation_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Occupation Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Company_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Company_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Official_Email_ID</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Official Email ID</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>loanApplicant.Official_Email_ID__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Type_Of_ProfessionIndi</name>
                    <choiceReferences>Doctor</choiceReferences>
                    <choiceReferences>CA_CS</choiceReferences>
                    <choiceReferences>Lawyer</choiceReferences>
                    <choiceReferences>Architect</choiceReferences>
                    <choiceReferences>Engineer</choiceReferences>
                    <choiceReferences>OthersProfession</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Type_Of_Profession__c</elementReference>
                    </defaultValue>
                    <fieldText>Type Of Profession</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Employer_Detail</name>
                    <choiceReferences>EmployerDetail</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Employer_Detail__c</elementReference>
                    </defaultValue>
                    <fieldText>Employer Detail</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Designation</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Designation__c</elementReference>
                    </defaultValue>
                    <fieldText>Designation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Total_Work_Experience</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Total_Work_Experience__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Work Experience</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Industry_Type</name>
                    <choiceReferences>industryType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Industry_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Industry Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Net_Annual_IncomeIndi</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Net_Annual_Income__c</elementReference>
                    </defaultValue>
                    <fieldText>Net Annual Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Income_from_other_sources</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Income_from_other_sources__c</elementReference>
                    </defaultValue>
                    <fieldText>Income from other sources</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Occupation_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Politically_Exposed_Person</name>
                    <choiceReferences>PoliticallyExposedPerson</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Politically_Exposed_Person__c</elementReference>
                    </defaultValue>
                    <fieldText>Politically Exposed Person</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Employee_ID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Employee_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>Employee ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Registration_Membership_No</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Registration_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Registration / Membership No.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_Of_ProfessionIndi</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Doctor</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_Of_ProfessionIndi</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CA_CS</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_Of_ProfessionIndi</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Architect</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Type_Of_Profession_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_Of_ProfessionIndi</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>OthersProfession</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>No_of_years_at_current_job</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.No_of_years_at_current_job__c</elementReference>
                    </defaultValue>
                    <fieldText>No of years at current job</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Nature_of_Business</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Nature_of_Business__c</elementReference>
                    </defaultValue>
                    <fieldText>Nature of Business</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Department</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Department__c</elementReference>
                    </defaultValue>
                    <fieldText>Department</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Gross_Annual_IncomeIndi</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Gross_Annual_Income__c</elementReference>
                    </defaultValue>
                    <fieldText>Gross Annual Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Name_of_Previous_Organisation</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Name_of_Previous_Organisation__c</elementReference>
                    </defaultValue>
                    <fieldText>Name of Previous Organisation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Income_from_AgricultureIndi</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Income_from_Agriculture__c</elementReference>
                    </defaultValue>
                    <fieldText>Income from Agriculture</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Screen</name>
        <label>Other Screen</label>
        <locationX>2124</locationX>
        <locationY>3482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Applicant_Id</targetReference>
        </connector>
        <fields>
            <name>General_Information</name>
            <fieldText>General Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_ConstitutionOption</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Other_Constitution__c</elementReference>
                    </defaultValue>
                    <fieldText>Other Constitution</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Constitution</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Others</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SalutationOther</name>
                    <choiceReferences>Mr</choiceReferences>
                    <choiceReferences>Ms</choiceReferences>
                    <choiceReferences>Mrs</choiceReferences>
                    <choiceReferences>Dr</choiceReferences>
                    <choiceReferences>Prof</choiceReferences>
                    <choiceReferences>M_S</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Salutation__c</elementReference>
                    </defaultValue>
                    <fieldText>Salutation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Entity_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Entity_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Entity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Registration_Number</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Registration_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Registration Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Address_Type</name>
                    <choiceReferences>addressTypeOthers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Address_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Address Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>email_non_ind</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>loanApplicant.Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Industry_TypeOther</name>
                    <choiceReferences>industryType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Industry_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Industry Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Gross_Annual_Income</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Gross_Annual_Income__c</elementReference>
                    </defaultValue>
                    <fieldText>Gross Annual Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Income_from_Agriculture</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Income_from_Agriculture__c</elementReference>
                    </defaultValue>
                    <fieldText>Income from Agriculture</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Nature_of_BusinessOther</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Nature_of_Business__c</elementReference>
                    </defaultValue>
                    <fieldText>Nature of Business</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>GST_Registration_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.GST_Registration_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>GST Registration Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Income_from_other_sources__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Gross_Annual_Turnover</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Gross_Annual_Turnover__c</elementReference>
                    </defaultValue>
                    <fieldText>Gross Annual Turnover (last 2 years)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>General_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Of_Incorporation</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Date_Of_Incorporation__c</elementReference>
                    </defaultValue>
                    <fieldText>Date Of Incorporation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_Of_Profession</name>
                    <choiceReferences>profession</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Type_Of_Profession__c</elementReference>
                    </defaultValue>
                    <fieldText>Type Of Profession</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Type_Of_Profession_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_Of_Profession</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Others</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Applicant_TypeOther</name>
                    <choiceReferences>Co_Applicant</choiceReferences>
                    <choiceReferences>Guarantor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Applicant_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Applicant Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Selected_Applicant.Applicant_Type__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Applicant</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Pan_NumberOther</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Pan_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Pan Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MobileOther</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>loanApplicant.Mobile__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Official_Email_ID_NON</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Official Email ID</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>loanApplicant.Official_Email_ID__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>No_of_Years_in_previous_business</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.No_of_Years_in_previous_business__c</elementReference>
                    </defaultValue>
                    <fieldText>No. of Years in previous business</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>No_of_Years_in_current_business</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.No_of_Years_in_current_business__c</elementReference>
                    </defaultValue>
                    <fieldText>No. of Years in current business</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Proof_of_Address</name>
                    <choiceReferences>proofAddressOthers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Proof_of_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Proof of Address</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>loanApplicant.Proof_Of_Address_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Proof_of_Address</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Others</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Net_Annual_Income</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Applicant.Net_Annual_Income__c</elementReference>
                    </defaultValue>
                    <fieldText>Net Annual Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Beneficiery_of_GST_Benefit</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>loanApplicant.Beneficiery_of_GST_Benefit__c</elementReference>
                    </defaultValue>
                    <fieldText>Beneficiery of GST Benefit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_9</name>
        <label>Screen 9</label>
        <locationX>1992</locationX>
        <locationY>4430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error9</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!faultMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1998</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accouuntNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>applicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicationRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invidualRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Applicant__c</objectType>
    </variables>
    <variables>
        <name>nonIndividualRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
