force-app/main/default/flows/Loan_Applicant_Before_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Existing_Applicant_Available</name>
        <label>Existing Applicant Available</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Loan_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Applicant_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applicant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Type_Already_Exist</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>LOB</name>
        <label>LOB</label>
        <locationX>512</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Application__r.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Loan_Applicant</targetReference>
            </connector>
            <label>BL</label>
        </rules>
        <rules>
            <name>CV</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Application__r.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Application__r.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CV</stringValue>
                </rightValue>
            </conditions>
            <label>CV</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loan Applicant Before Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Applicant Before Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Loan_Applicant</name>
        <label>Get Existing Loan Applicant</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Applicant_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Applicant_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LOB</targetReference>
        </connector>
        <object>Loan_Applicant__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
