force-app/main/default/flows/Manual_Deviation_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Manual_Deviations_Action</name>
        <label>Get Manual Deviations Action</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <actionName>UB_ManualDeviationController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Devaition_Ids</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>devRecordIds</assignToReference>
            <name>devRecordIds</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>RefreshView</name>
        <label>RefreshView</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <actionName>c:RefreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Deviation_Condition</name>
        <label>Assign Deviation Condition</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>deviationConditionRecord.Deviation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Deviation.Deviation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deviationConditionRecord.Decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deviationConditionRecord.Deviation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deviationConditionRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deviation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deviationConditionRecord.Deviations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Deviation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deviationConditionRecord.Loan_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deviationConditionRecord.Approving_Authority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>authName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Deviation_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_BH</name>
        <label>Assignment BH</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>approveAuthId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Head_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Business_Head_User.Name}({!Get_Business_Head_Role.Name})</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deviationConditionRecord.Authority_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Head_Role.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Deviation_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NCM</name>
        <label>Assignment NCM</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>approveAuthId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NCM_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_NCM_User.Name}({!Get_NCM_Role.Name})</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deviationConditionRecord.Authority_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NCM_Role.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Deviation_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_RCM</name>
        <label>Assignment RCM</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>approveAuthId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCM_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_RCM_User.Name}({!Get_RCM_Role.Name})</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deviationConditionRecord.Authority_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCM_Role.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Deviation_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ZCM</name>
        <label>Assignment ZCM</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>approveAuthId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ZCM_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_ZCM_User.Name}({!Get_ZCM_Role.Name})</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deviationConditionRecord.Authority_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ZCM_Role.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Deviation_Condition</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Devaition_Ids</name>
        <label>Check Devaition Ids</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>devRecordIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Deviations</targetReference>
            </connector>
            <label>Not is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Selected_Deviation</name>
        <label>Decision Selected Deviation</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deviation</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Deviation</targetReference>
            </connector>
            <label>Is Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Authority</name>
        <label>Type Authority</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Deviation_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Deviation.Approving_Authority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RCM_Role</targetReference>
            </connector>
            <label>RCM</label>
        </rules>
        <rules>
            <name>ZCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Deviation.Approving_Authority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZCM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ZCM_Role</targetReference>
            </connector>
            <label>ZCM</label>
        </rules>
        <rules>
            <name>NCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Deviation.Approving_Authority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NCM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NCM_Role</targetReference>
            </connector>
            <label>NCM</label>
        </rules>
        <rules>
            <name>Credit_Head</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Deviation.Approving_Authority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Head</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Head_Role</targetReference>
            </connector>
            <label>Credit Head</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>deviationValues</name>
        <collectionReference>Get_Deviations</collectionReference>
        <dataType>String</dataType>
        <displayField>Deviation__c</displayField>
        <object>Deviation_Master__c</object>
        <valueField>Deviation__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>authority</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Selected_Deviation.Approving_Authority__c})</expression>
    </formulas>
    <interviewLabel>Manual Deviation Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual Deviation Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Deviation_Conditions</name>
        <label>Create Deviation Conditions</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>RefreshView</targetReference>
        </connector>
        <inputReference>deviationConditionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Business_Head_Role</name>
        <label>Get Business Head Role</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Head_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Head</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Head_User</name>
        <label>Get Business Head User</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_BH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Business_Head_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Deviations</name>
        <label>Get Deviations</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deviation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>devRecordIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deviation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Deviation_Master__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NCM_Role</name>
        <label>Get NCM Role</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NCM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>National Credit Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NCM_User</name>
        <label>Get NCM User</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_NCM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NCM_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RCM_Role</name>
        <label>Get RCM Role</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RCM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Credit Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RCM_User</name>
        <label>Get RCM User</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_RCM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RCM_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Deviation</name>
        <label>Get Selected Deviation</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auth_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deviation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deviation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Deviation_Master__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ZCM_Role</name>
        <label>Get ZCM Role</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ZCM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zonal Credit Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ZCM_User</name>
        <label>Get ZCM User</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_ZCM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ZCM_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Auth_Screen</name>
        <label>Auth Screen</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_Authority</targetReference>
        </connector>
        <fields>
            <name>AuthorityScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Approving Authority : {!authority}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deviation_Screen</name>
        <label>Deviation Screen</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Selected_Deviation</targetReference>
        </connector>
        <fields>
            <name>Create_Manual_Deviation</name>
            <fieldText>Create Manual Deviation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Manual_Deviation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deviation</name>
                    <choiceReferences>deviationValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Deviation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Manual_Deviation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>deviationConditionRecord.Mitigants__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Manual_Deviations_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approveAuthId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>authName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deviationConditionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Deviation_Sanction_Condition__c</objectType>
    </variables>
    <variables>
        <name>deviationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Deviation_Master__c</objectType>
    </variables>
    <variables>
        <name>devRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
