force-app/main/default/flows/Raise_Query_For_Vendor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>RefreshView</name>
        <label>RefreshView</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>c:RefreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Valuation.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Query_Id</name>
        <label>Assign Query Id</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Query_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Query_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queryRecord.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RefreshView</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Query_Records</name>
        <label>Assign Query Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>queryRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>queryRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>queryRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>queryRecord.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>queryRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>queryRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Valuation.RCU_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>queryRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>queryRecord.Type_of_Query__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Query</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Loan_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Valuation.Loan_Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.From_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Valuation.RCU_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Document</name>
        <choiceText>Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document</stringValue>
        </value>
    </choices>
    <choices>
        <name>Information</name>
        <choiceText>Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Information</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>typeOfQuery</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Query__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Raise Query For Vendor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Raise Query For Vendor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Assign_Query_Id</targetReference>
        </connector>
        <inputReference>queryRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Valuation</name>
        <label>Get Valuation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Valuation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Query_Screen</name>
        <label>Query Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Query_Records</targetReference>
        </connector>
        <fields>
            <name>Raise_Query</name>
            <fieldText>Raise Query</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Raise_Query_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_Query</name>
                    <choiceReferences>Document</choiceReferences>
                    <choiceReferences>Information</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Query</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Query</name>
                    <fieldText>Query</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Raise_Query_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Valuation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>activityHistoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activity_History__c</objectType>
    </variables>
    <variables>
        <name>queryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
