force-app/main/default/flows/Raise_Query.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Refresh_View_to_Disbursement</name>
        <label>Refresh View to Disbursement</label>
        <locationX>2404</locationX>
        <locationY>6206</locationY>
        <actionName>c:RefreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Disbursement_Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RefreshView</name>
        <label>RefreshView</label>
        <locationX>2140</locationX>
        <locationY>6206</locationY>
        <actionName>c:RefreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RefreshView_to_Valuation</name>
        <label>RefreshView to Valuation</label>
        <locationX>2668</locationX>
        <locationY>6206</locationY>
        <actionName>c:RefreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Valuation.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_1</name>
        <label>Assign 1</label>
        <locationX>2492</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>selectedRcuAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_Valuations.Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Valuations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_2</name>
        <label>Assign 2</label>
        <locationX>2756</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>legalIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_Valuations.Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Valuations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_3</name>
        <label>Assign 3</label>
        <locationX>3020</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>OfficeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_Valuations.Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Valuations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_4</name>
        <label>Assign 4</label>
        <locationX>3284</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>propertyIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_Valuations.Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Valuations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_5</name>
        <label>Assign 5</label>
        <locationX>3548</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>residenceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_Valuations.Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Valuations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_6</name>
        <label>Assign 6</label>
        <locationX>3812</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>vehicleIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_Valuations.Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Valuations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_7</name>
        <label>Assign 7</label>
        <locationX>4076</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>permanentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_Valuations.Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Valuations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Query_Id</name>
        <label>Assign Query Id</label>
        <locationX>2404</locationX>
        <locationY>5666</locationY>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Query_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Query_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskRecord.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Activity_History_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records</name>
        <label>Assign Records</label>
        <locationX>1810</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_Query__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Query</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>responseCapture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Loan_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.From_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_Internal</name>
        <label>Assign Records Internal</label>
        <locationX>842</locationX>
        <locationY>5282</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerIdActivity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_Query__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Query</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>responseCapture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Loan_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.From_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_To1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_Vendors</name>
        <label>Assign Records Vendors</label>
        <locationX>3130</locationX>
        <locationY>5282</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_Query__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Query</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>responseCapture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Loan_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.From_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Vendor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_Vendors_for_Disbursement</name>
        <label>Assign Records Vendors for Disbursement</label>
        <locationX>2866</locationX>
        <locationY>5282</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Disbursement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_Query__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Query</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>responseCapture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Disbursement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Disbursement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.From_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Vendor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variable</name>
        <label>Assign Variable</label>
        <locationX>50</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>ownerIdActivity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToUser2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_RM_Assignment_for_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variable_CPA</name>
        <label>Assign Variable CPA</label>
        <locationX>314</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>ownerIdActivity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_To1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_RM_Assignment_for_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variable_for_Disbursement_User</name>
        <label>Assign variable for Disbursement User</label>
        <locationX>1106</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>ownerIdActivity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_To_CPC1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_RM_Assignment_for_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variable_RM</name>
        <label>Assign Variable RM</label>
        <locationX>578</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>ownerIdActivity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToUser1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_RM_Assignment_for_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variable_RM_Other</name>
        <label>Assign Variable RM Other</label>
        <locationX>842</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>ownerIdActivity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToUser3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_RM_Assignment_for_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_13</name>
        <label>Assignment 13</label>
        <locationX>2074</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToRCU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToRCU</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Vendor_Assignment_for_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_14</name>
        <label>Assignment 14</label>
        <locationX>2338</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToLegal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToLegal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Vendor_Assignment_for_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_15</name>
        <label>Assignment 15</label>
        <locationX>2602</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToOffice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToOffice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Vendor_Assignment_for_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_16</name>
        <label>Assignment 16</label>
        <locationX>2866</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Vendor_Assignment_for_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_17</name>
        <label>Assignment 17</label>
        <locationX>3130</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToResidence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToResidence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Vendor_Assignment_for_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_18</name>
        <label>Assignment 18</label>
        <locationX>3394</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToVehicle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_ToVehicle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Vendor_Assignment_for_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_19</name>
        <label>Assignment 19</label>
        <locationX>3658</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_To_Permanent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_To_Permanent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Vendor_Assignment_for_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_credit_Users</name>
        <label>Assignment of credit Users</label>
        <locationX>2008</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>creditUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Activity_History_Records.From_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Activity_History_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_credit_Users_for_Disbursement</name>
        <label>Assignment of credit Users for Disbursement</label>
        <locationX>2668</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>creditUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Disbursement_Activity_History_Records.From_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Disbursement_Activity_History_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asssign_Record_Id_from_Application</name>
        <label>Asssign Record Id from Application</label>
        <locationX>2943</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_of_Application.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asssign_Record_Id_from_Disbursement</name>
        <label>Asssign Record Id from Disbursement</label>
        <locationX>3471</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Disbursement_Record.Loan_Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Disbursement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Disbursement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asssign_Record_Id_from_Valuation</name>
        <label>Asssign Record Id from Valuation</label>
        <locationX>3207</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Valuation.Loan_Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Valuation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Valuation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Disbursement_Assign_Records</name>
        <label>Disbursement Assign Records</label>
        <locationX>1546</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Disbursement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_Query__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Query</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>responseCapture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Disbursement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Disbursement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.From_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Disbursement_Assign_Records_Internal</name>
        <label>Disbursement Assign Records Internal</label>
        <locationX>578</locationX>
        <locationY>5282</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Disbursement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerIdActivity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_Query__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Query</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Type_of_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>responseCapture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Disbursement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Disbursement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.From_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_To_CPC1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activityHistoryRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Legal</name>
        <choiceText>Legal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Office_FI</name>
        <choiceText>Office FI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Office FI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Permanent_FI</name>
        <choiceText>Permanent FI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Permanent FI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Property_Valuation</name>
        <choiceText>Property Valuation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property Valuation</stringValue>
        </value>
    </choices>
    <choices>
        <name>RCUVendor</name>
        <choiceText>RCU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RCU</stringValue>
        </value>
    </choices>
    <choices>
        <name>Residence_FI</name>
        <choiceText>Residence FI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Residence FI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vehicle_Valuation</name>
        <choiceText>Vehicle Valuation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicle Valuation</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Activity_History_record_Found</name>
        <label>Check Activity History record Found</label>
        <locationX>2404</locationX>
        <locationY>3566</locationY>
        <defaultConnector>
            <targetReference>Query_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disbursement_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Disbursement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activity_History_Record</targetReference>
            </connector>
            <label>Disbursement Not Found</label>
        </rules>
        <rules>
            <name>Disbursement_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Disbursement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Disbursement_Activity_History_Record</targetReference>
            </connector>
            <label>Disbursement Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Application</name>
        <label>Check Application</label>
        <locationX>3339</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Valuations</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Credit_User_found</name>
        <label>Check Credit User found</label>
        <locationX>1920</locationX>
        <locationY>4274</locationY>
        <defaultConnector>
            <targetReference>Query_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>creditUsers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_other_credit_users</targetReference>
            </connector>
            <label>Yes found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_DSA_Assignment_for_Disbursement</name>
        <label>Check DSA Assignment for Disbursement</label>
        <locationX>1678</locationX>
        <locationY>4874</locationY>
        <defaultConnector>
            <targetReference>Assign_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DSA_for_Disbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Disbursement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disbursement_Assign_Records</targetReference>
            </connector>
            <label>DSA for Disbursement?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RM_Assignment_for_Disbursement</name>
        <label>Check RM Assignment for Disbursement</label>
        <locationX>710</locationX>
        <locationY>5174</locationY>
        <defaultConnector>
            <targetReference>Assign_Records_Internal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RM_for_Disbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Disbursement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disbursement_Assign_Records_Internal</targetReference>
            </connector>
            <label>RM for Disbursement?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vendor_Assignment_for_Disbursement</name>
        <label>Check Vendor Assignment for Disbursement</label>
        <locationX>2998</locationX>
        <locationY>5174</locationY>
        <defaultConnector>
            <targetReference>Assign_Records_Vendors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>vendor_for_Disbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Disbursement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Records_Vendors_for_Disbursement</targetReference>
            </connector>
            <label>vendor for Disbursement?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condition_to_exclude_current_User</name>
        <label>Condition to exclude current User</label>
        <locationX>2800</locationX>
        <locationY>3890</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Disbursement_Activity_History_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Storing_Users_for_Disbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Disbursement_Activity_History_Records.From_User__r.UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>userRole</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_credit_Users_for_Disbursement</targetReference>
            </connector>
            <label>Storing Users for Disbursement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condition_To_store_From_User</name>
        <label>Condition To store From User</label>
        <locationX>2140</locationX>
        <locationY>3890</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Activity_History_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Storing_Users</name>
            <conditionLogic>1 AND (2 OR 3 OR  4 OR  5)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Activity_History_Records.From_User__r.UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Credit Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Activity_History_Records.From_User__r.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Head</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Activity_History_Records.From_User__r.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zonal Credit Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Activity_History_Records.From_User__r.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regional Credit Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Activity_History_Records.From_User__r.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National Credit Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_credit_Users</targetReference>
            </connector>
            <label>Storing Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Credit_User_found</name>
        <label>Copy 1 of Check Credit User found</label>
        <locationX>2580</locationX>
        <locationY>4274</locationY>
        <defaultConnector>
            <targetReference>Query_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>creditUsers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_other_credit_users</targetReference>
            </connector>
            <label>Copy 1 of Yes found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_owner_valuations</name>
        <label>Dec owner valuations</label>
        <locationX>2404</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Legal_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RCU1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedRcuAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_Rcu</targetReference>
            </connector>
            <label>RCU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>2404</locationX>
        <locationY>4766</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Check_Of_Owner</targetReference>
            </connector>
            <label>Employee</label>
        </rules>
        <rules>
            <name>DSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_DSA_Assignment_for_Disbursement</targetReference>
            </connector>
            <label>DSA</label>
        </rules>
        <rules>
            <name>Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Selection_Type_of_Vendor</targetReference>
            </connector>
            <label>Vendor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Redirection</label>
        <locationX>2404</locationX>
        <locationY>6098</locationY>
        <defaultConnector>
            <targetReference>RefreshView_to_Valuation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ApplicationPage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_of_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RefreshView</targetReference>
            </connector>
            <label>Application</label>
        </rules>
        <rules>
            <name>Disbursement1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Disbursement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refresh_View_to_Disbursement</targetReference>
            </connector>
            <label>Disbursement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check</name>
        <label>Decision Check</label>
        <locationX>3339</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_of_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asssign_Record_Id_from_Application</targetReference>
            </connector>
            <label>Application</label>
        </rules>
        <rules>
            <name>Valuation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Valuation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asssign_Record_Id_from_Valuation</targetReference>
            </connector>
            <label>Valuation</label>
        </rules>
        <rules>
            <name>Disbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Disbursement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asssign_Record_Id_from_Disbursement</targetReference>
            </connector>
            <label>Disbursement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check_Of_Owner</name>
        <label>Decision Check Of Owner</label>
        <locationX>710</locationX>
        <locationY>4874</locationY>
        <defaultConnector>
            <targetReference>Check_RM_Assignment_for_Disbursement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_CM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assigned_ToUser2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assigned_ToUser2</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variable</targetReference>
            </connector>
            <label>For CM</label>
        </rules>
        <rules>
            <name>For_CPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assigned_To1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assigned_To1</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variable_CPA</targetReference>
            </connector>
            <label>For CPA</label>
        </rules>
        <rules>
            <name>For_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assigned_ToUser1</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assigned_ToUser1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variable_RM</targetReference>
            </connector>
            <label>For RM</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assigned_ToUser3</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assigned_ToUser3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variable_RM_Other</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>For_Disbursement_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assigned_To_CPC1</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assigned_To_CPC1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variable_for_Disbursement_User</targetReference>
            </connector>
            <label>For Disbursement Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Selection_Type_of_Vendor</name>
        <label>Decision Selection Type of Vendor</label>
        <locationX>2998</locationX>
        <locationY>4874</locationY>
        <defaultConnector>
            <targetReference>Check_Vendor_Assignment_for_Disbursement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RCUType</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RCUVendor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_VendorBL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RCUVendor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_13</targetReference>
            </connector>
            <label>RCUType</label>
        </rules>
        <rules>
            <name>LegalType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Legal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_14</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
        <rules>
            <name>OfficeType</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Office_FI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_VendorBL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Office_FI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_15</targetReference>
            </connector>
            <label>OfficeType</label>
        </rules>
        <rules>
            <name>PropertyType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Property_Valuation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_16</targetReference>
            </connector>
            <label>PropertyType</label>
        </rules>
        <rules>
            <name>ResidenceType</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Residence_FI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_VendorBL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Residence_FI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_17</targetReference>
            </connector>
            <label>ResidenceType</label>
        </rules>
        <rules>
            <name>VehicleType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Vehicle_Valuation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_18</targetReference>
            </connector>
            <label>VehicleType</label>
        </rules>
        <rules>
            <name>PermanentType</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Permanent_FI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_VendorBL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Permanent_FI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_19</targetReference>
            </connector>
            <label>PermanentType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Legal_Check</name>
        <label>Legal Check</label>
        <locationX>2404</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Office_FI_Owners1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legal_Check_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>legalIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_Legal</targetReference>
            </connector>
            <label>Legal Check Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Office_FI_Owners1</name>
        <label>Office FI Owners</label>
        <locationX>2404</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Property_Owners1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Office_FI_Owners2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Office_FI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_Office</targetReference>
            </connector>
            <label>Office FI Owners</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permanent_Owners</name>
        <label>Permanent Owners</label>
        <locationX>2404</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>Vehicle_Owners1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permanent_Owners2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>permanentIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_Permanent</targetReference>
            </connector>
            <label>Permanent Owners</label>
        </rules>
    </decisions>
    <decisions>
        <name>Property_Owners1</name>
        <label>Property Owners</label>
        <locationX>2404</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Residence_Owners1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Property_Owners2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>propertyIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_Property</targetReference>
            </connector>
            <label>Property Owners</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Decisions</name>
        <label>Record Type Decisions</label>
        <locationX>3416</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Loop_Get_Valuations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RCU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_Valuations.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1</targetReference>
            </connector>
            <label>RCU</label>
        </rules>
        <rules>
            <name>LegalRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_Valuations.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_2</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
        <rules>
            <name>Office_FIRRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_Valuations.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Office FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_3</targetReference>
            </connector>
            <label>Office FI</label>
        </rules>
        <rules>
            <name>Property_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_Valuations.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property Valuation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_4</targetReference>
            </connector>
            <label>Property RecordType</label>
        </rules>
        <rules>
            <name>Residence_FI_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_Valuations.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residence FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_5</targetReference>
            </connector>
            <label>Residence FI Record Type</label>
        </rules>
        <rules>
            <name>Vehicle_Valuation_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_Valuations.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehicle Valuation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_6</targetReference>
            </connector>
            <label>Vehicle Valuation RecordType</label>
        </rules>
        <rules>
            <name>Permanent_FI_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_Valuations.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_7</targetReference>
            </connector>
            <label>Permanent FI Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Residence_Owners1</name>
        <label>Residence Owners</label>
        <locationX>2404</locationX>
        <locationY>2666</locationY>
        <defaultConnector>
            <targetReference>Permanent_Owners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Residence_Owners2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>residenceIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_Residence</targetReference>
            </connector>
            <label>Residence Owners</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vehicle_Owners1</name>
        <label>Vehicle Owners</label>
        <locationX>2404</locationX>
        <locationY>3266</locationY>
        <defaultConnector>
            <targetReference>Check_Activity_History_record_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vehicle_Owners2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicleIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_Vehicle</targetReference>
            </connector>
            <label>Vehicle Owners</label>
        </rules>
    </decisions>
    <description>Loan application status updated as raised query.</description>
    <dynamicChoiceSets>
        <name>cmValues</name>
        <dataType>String</dataType>
        <displayField>CM_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CM__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Loan_Application__c</object>
        <valueField>CM__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cpaValues</name>
        <dataType>String</dataType>
        <displayField>CPA_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CPA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Loan_Application__c</object>
        <valueField>CPA__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DisbursementActivityUsers</name>
        <collectionReference>Copy_1_of_Get_other_credit_users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dsaValues</name>
        <dataType>String</dataType>
        <displayField>DSA_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DSA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Loan_Application__c</object>
        <valueField>DSA__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>legalList</name>
        <collectionReference>Get_Users_Legal</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>officeList</name>
        <collectionReference>Get_Users_Office</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>otherCreditUsers</name>
        <collectionReference>Get_other_credit_users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>permanentList</name>
        <collectionReference>Get_Users_Permanent</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>propertyList</name>
        <collectionReference>Get_Users_Property</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>residenceList</name>
        <collectionReference>Get_Users_Residence</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rmValues</name>
        <dataType>String</dataType>
        <displayField>RM_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ro_RM__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Loan_Application__c</object>
        <valueField>Ro_RM__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typeQuery</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Query__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typeUser</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_User__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vehicleList</name>
        <collectionReference>Get_Users_Vehicle</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vendorList</name>
        <collectionReference>Get_Users_Rcu</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>applicationLob</name>
        <dataType>String</dataType>
        <expression>IF( 
AND(NOT(ISBLANK(TEXT({!Get_Record_of_Application.LOB__c}))) )
, 
TEXT({!Get_Record_of_Application.LOB__c}), 

IF(AND(NOT(ISBLANK(TEXT({!Get_Valuation.Loan_Application__r.LOB__c}))) ),TEXT({!Get_Valuation.Loan_Application__r.LOB__c}) ,

IF(AND(NOT(ISBLANK(TEXT({!Get_Disbursement_Record.Loan_Application__r.LOB__c}))) ), TEXT({!Get_Disbursement_Record.Loan_Application__r.LOB__c}), &apos;&apos; )
 )

)</expression>
    </formulas>
    <formulas>
        <name>assignTo</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Assigned_To1})), {!Assigned_To1},  IF(NOT(ISBLANK({!Assigned_ToUser1})), {!Assigned_ToUser1}, IF(NOT(ISBLANK({!Assigned_ToUser2})), {!Assigned_ToUser2}, IF(NOT(ISBLANK({!Assigned_ToUser3})), {!Assigned_ToUser3}, &apos;&apos;)) ))</expression>
    </formulas>
    <formulas>
        <name>userAssignmentValue</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Assigned_To1}))
,{!Assigned_To1} , 
	IF(NOT(ISBLANK({!Assigned_To})), {!Assigned_To}, 
		IF(NOT(ISBLANK({!Assigned_ToRCU})), {!Assigned_ToRCU}, 
			IF(NOT(ISBLANK({!Assigned_ToLegal})), {!Assigned_ToLegal}, 
				 IF(NOT(ISBLANK({!Assigned_ToOffice})), {!Assigned_ToOffice}, 
						IF(NOT(ISBLANK({!Assigned_ToProperty})), {!Assigned_ToProperty}, 
							 IF(NOT(ISBLANK({!Assigned_ToResidence})), {!Assigned_ToResidence}, 
								IF(NOT(ISBLANK({!Assigned_ToVehicle})), {!Assigned_ToVehicle}, &apos;&apos;)
							 )
						)
					)
			)
		)
	)
)</expression>
    </formulas>
    <formulas>
        <name>userBLRoleCSO_CPC</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR({!userRole}  = &apos;BL CPC&apos; , {!userRole}  = &apos;BL CSO&apos;) , true, false)</expression>
    </formulas>
    <formulas>
        <name>userRole</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <interviewLabel>Raise Query {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Raise Query</label>
    <loops>
        <name>Loop_Get_Valuations</name>
        <label>Loop Get Valuations</label>
        <locationX>2404</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Valuations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Type_Decisions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dec_owner_valuations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Activity_History_Records</name>
        <label>Loop Over Activity History Records</label>
        <locationX>1920</locationX>
        <locationY>3782</locationY>
        <collectionReference>Get_Activity_History_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Condition_To_store_From_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Credit_User_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Disbursement_Activity_History_Records</name>
        <label>Loop Over Disbursement Activity History Records</label>
        <locationX>2580</locationX>
        <locationY>3782</locationY>
        <collectionReference>Get_Disbursement_Activity_History_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Condition_to_exclude_current_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Check_Credit_User_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Activity_History_Records</name>
        <label>Create Activity History Records</label>
        <locationX>2404</locationX>
        <locationY>5774</locationY>
        <connector>
            <targetReference>Update_Loan_Application_Status</targetReference>
        </connector>
        <inputReference>activityHistoryRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>2404</locationX>
        <locationY>5558</locationY>
        <connector>
            <targetReference>Assign_Query_Id</targetReference>
        </connector>
        <inputReference>taskRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_other_credit_users</name>
        <label>Copy 1 of Get other credit users</label>
        <locationX>2448</locationX>
        <locationY>4382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>creditUsers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting Activity History Record to store credit upper hierarchy users</description>
        <name>Get_Activity_History_Record</name>
        <label>Get Activity History Record</label>
        <locationX>1920</locationX>
        <locationY>3674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Activity_History_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activity_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting Disbursement Activity History Record to store credit upper hierarchy users</description>
        <name>Get_Disbursement_Activity_History_Record</name>
        <label>Get Disbursement Activity History Record</label>
        <locationX>2580</locationX>
        <locationY>3674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Disbursement_Activity_History_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Disbursement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Disbursement_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activity_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Disbursement_Record</name>
        <label>Get Disbursement Record</label>
        <locationX>3339</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Disbursement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_other_credit_users</name>
        <label>Get other credit users</label>
        <locationX>1788</locationX>
        <locationY>4382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>creditUsers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_of_Application</name>
        <label>Get Record of Application</label>
        <locationX>3339</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Valuation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Branch__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Legal</name>
        <label>Get Users Legal</label>
        <locationX>2272</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Office_FI_Owners1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>legalIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Office</name>
        <label>Get Users Office</label>
        <locationX>2272</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Property_Owners1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OfficeIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Permanent</name>
        <label>Get Users Permanent</label>
        <locationX>2272</locationX>
        <locationY>3074</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vehicle_Owners1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>permanentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Property</name>
        <label>Get Users Property</label>
        <locationX>2272</locationX>
        <locationY>2474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Residence_Owners1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>propertyIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Rcu</name>
        <label>Get Users Rcu</label>
        <locationX>2272</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Legal_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedRcuAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Residence</name>
        <label>Get Users Residence</label>
        <locationX>2272</locationX>
        <locationY>2774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permanent_Owners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>residenceIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Vehicle</name>
        <label>Get Users Vehicle</label>
        <locationX>2272</locationX>
        <locationY>3374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Activity_History_record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>vehicleIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Valuation</name>
        <label>Get Valuation</label>
        <locationX>3339</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Disbursement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Valuation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Valuations</name>
        <label>Get Valuations</label>
        <locationX>2404</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Get_Valuations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Valuation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Application_Status</name>
        <label>Update Loan Application Status</label>
        <locationX>2404</locationX>
        <locationY>5882</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_of_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BL</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BL_Open_Query_Exists__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Loan_Application__c</object>
    </recordUpdates>
    <screens>
        <name>Query_Screen</name>
        <label>Query Screen</label>
        <locationX>2404</locationX>
        <locationY>4658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>Raise_Query</name>
            <fieldText>Raise Query</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Raise_Query_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_Query</name>
                    <choiceReferences>typeQuery</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Query</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>QueryDesc</name>
                    <fieldText>Query</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_of_VendorBL</name>
                    <choiceReferences>RCUVendor</choiceReferences>
                    <choiceReferences>Office_FI</choiceReferences>
                    <choiceReferences>Residence_FI</choiceReferences>
                    <choiceReferences>Permanent_FI</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Vendor</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_User</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Vendor</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>applicationLob</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BL</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Type_of_Vendor</name>
                    <choiceReferences>RCUVendor</choiceReferences>
                    <choiceReferences>Legal</choiceReferences>
                    <choiceReferences>Office_FI</choiceReferences>
                    <choiceReferences>Property_Valuation</choiceReferences>
                    <choiceReferences>Residence_FI</choiceReferences>
                    <choiceReferences>Vehicle_Valuation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Vendor</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_User</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Vendor</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>applicationLob</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>BL</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_To1</name>
                    <choiceReferences>rmValues</choiceReferences>
                    <choiceReferences>cmValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_User</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Employee</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>CPA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BL CPA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_ToUser1</name>
                    <choiceReferences>cmValues</choiceReferences>
                    <choiceReferences>cpaValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_User</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Employee</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Relationship Manager</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BL Relationship Manager</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Disbursement_Record.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_ToUser2</name>
                    <choiceReferences>rmValues</choiceReferences>
                    <choiceReferences>cpaValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_User</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Employee</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Credit Manager</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BL Branch Credit Manager</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Disbursement_Record.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_ToUser3</name>
                    <choiceReferences>rmValues</choiceReferences>
                    <choiceReferences>cpaValues</choiceReferences>
                    <choiceReferences>cmValues</choiceReferences>
                    <choiceReferences>otherCreditUsers</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_User</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Employee</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>National Credit Manager</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Regional Credit Manager</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Zonal Credit Manager</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Credit Head</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Committee</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue> CPC Team Lead</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>RCU Manager</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userRole</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BL RCU Manager</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>userBLRoleCSO_CPC</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_To</name>
                    <choiceReferences>dsaValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_User</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>DSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_ToRCU</name>
                    <choiceReferences>vendorList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Vendor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RCUVendor</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_VendorBL</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RCUVendor</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_ToLegal</name>
                    <choiceReferences>legalList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Vendor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Legal</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_ToOffice</name>
                    <choiceReferences>officeList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Vendor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Office_FI</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_VendorBL</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Office_FI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_ToProperty</name>
                    <choiceReferences>propertyList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Vendor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Property_Valuation</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_ToResidence</name>
                    <choiceReferences>residenceList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Vendor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Residence_FI</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_VendorBL</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Residence_FI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_To_Permanent</name>
                    <choiceReferences>permanentList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Vendor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Permanent_FI</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_VendorBL</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Permanent_FI</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_ToVehicle</name>
                    <choiceReferences>vehicleList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Vendor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Vehicle_Valuation</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_To_CPC1</name>
                    <choiceReferences>DisbursementActivityUsers</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND 2</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_User</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Employee</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Disbursement_Record.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Raise_Query_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_of_User</name>
                    <choiceReferences>typeUser</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of User</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Initiate_Verification_Warning</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(18, 17, 17);&quot;&gt;Warning: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 100, 34);&quot;&gt;Kindly initiate verification before assigning to a particular vendor, if not.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_User</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Vendor</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>applicationLob</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BL</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>2404</locationX>
        <locationY>5990</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Query has been raised successfully for this application&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3213</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_of_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>responseCapture</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.FirstName}{!$User.MiddleName}{!$User.LastName} [{!$Flow.CurrentDateTime}] : ({!Subject}) - {!QueryDesc}</text>
    </textTemplates>
    <variables>
        <name>accountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>activityHistoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activity_History__c</objectType>
    </variables>
    <variables>
        <name>contactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>legalIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OfficeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerIdActivity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>permanentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>propertyIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>residenceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedRcuAccount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>vehicleIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
