force-app/main/default/flows/Submit_Decision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>RefreshView_Action</name>
        <label>RefreshView Action</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>c:RefreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Deviation_Condition</name>
        <label>Assign Deviation Condition</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>deviationCondition.Decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DecisionPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deviationCondition.Approver_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deviationCondition.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Deviation_Condition.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Deviation_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deviation_Rec</name>
        <label>Assign Deviation Rec</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>deviationRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>deviationCondition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Deviation_Condition</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>selectedDeviation</name>
        <label>selectedDeviation</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deviationConIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Deviation_Conditions</targetReference>
            </connector>
            <label>is Not Blank</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>decision</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Decision__c</picklistField>
        <picklistObject>Deviation_Sanction_Condition__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Submit Decision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Decision</label>
    <loops>
        <name>Loop_Deviation_Condition</name>
        <label>Loop Deviation Condition</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Selected_Deviation_Conditions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deviation_Condition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Deviation_Condition</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Selected_Deviation_Conditions</name>
        <label>Get Selected Deviation Conditions</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Deviation_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>deviationConIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Deviation_Sanction_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Deviation_Condition</name>
        <label>Update Deviation Condition</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>RefreshView_Action</targetReference>
        </connector>
        <inputReference>deviationRecordList</inputReference>
    </recordUpdates>
    <screens>
        <name>RCM_Deviation_Screen</name>
        <label>RCM Deviation Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectedDeviation</targetReference>
        </connector>
        <fields>
            <name>Devaition_Acknowledge</name>
            <fieldText>Submit Decision</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Devaition_Acknowledge_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DecisionPicklist</name>
                    <choiceReferences>Approved</choiceReferences>
                    <choiceReferences>Rejected</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Decision</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Approver_Comments</name>
                    <fieldText>Approver Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RCM_Deviation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>deviationCondition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Deviation_Sanction_Condition__c</objectType>
    </variables>
    <variables>
        <name>deviationConIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deviationRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Deviation_Sanction_Condition__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
