force-app/main/default/flows/UB_AddressAfterInsertFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Address_created_from</name>
        <label>Address created from</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_Address_record_already_created_with_same_Address_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Created_From_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Address</targetReference>
            </connector>
            <label>Address Created From Lead</label>
        </rules>
        <rules>
            <name>Address_Created_From_Loan_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Applicant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Address</targetReference>
            </connector>
            <label>Address Created From Loan Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Address_record_already_created_with_same_Address_Type</name>
        <label>Check Address record already created with same Address Type</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Created</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Applicant_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_is_already_created</targetReference>
            </connector>
            <label>Already Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UB_AddressAfterInsertFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UB_AddressAfterInsertFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Applicant_Address</name>
        <label>Applicant Address</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Address_record_already_created_with_same_Address_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Applicant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Address_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead_Address</name>
        <label>Lead Address</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Address_record_already_created_with_same_Address_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Address_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Address_created_from</targetReference>
        </connector>
        <object>Address__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
