force-app/main/default/flows/Ub_Activity_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Activity_Email_Alert</name>
        <label>Activity Email Alert</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <actionName>Valuation__c.Activity_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Apex_Record_Sharing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Activity_Email_Alert_for_new_records</name>
        <label>Activity Email Alert for new records</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Valuation__c.Activity_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Address_of_primary_applicant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Apex_Record_Sharing</name>
        <label>Apex Record Sharing</label>
        <locationX>2030</locationX>
        <locationY>1055</locationY>
        <actionName>UB_CommonUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Address_of_primary_applicant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordAccessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userOrGroupId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Activity_Email_Alert</name>
        <label>Copy 1 of Activity Email Alert</label>
        <locationX>2030</locationX>
        <locationY>947</locationY>
        <actionName>Valuation__c.Activity_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Apex_Record_Sharing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_CM</name>
        <label>Assign CM</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>recsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Application.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UB_Custom_Notification1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CM_RCU</name>
        <label>Assign CM RCU</label>
        <locationX>2338</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Application_RCU.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UB_Custom_NotificationRCU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipients</name>
        <label>Assign Recipients</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UB_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipients1</name>
        <label>Assign Recipients</label>
        <locationX>2030</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>recsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UB_Custom_Notification2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipients_for_New_records</name>
        <label>Assign_Recipients_for_New_records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>recsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UB_Custom_Notification_For_new_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_office_Address</name>
        <label>Assignment of office Address</label>
        <locationX>1744</locationX>
        <locationY>2129</locationY>
        <assignmentItems>
            <assignToReference>officeAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAddF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>landmark</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_address.Landmark__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_residence_address</name>
        <label>Assignment of residence address</label>
        <locationX>1480</locationX>
        <locationY>2129</locationY>
        <assignmentItems>
            <assignToReference>residenceAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAddF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>landmark</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_address.Landmark__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pincode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_address.Pincode__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Current and office address along with Pin-code  auto filled when activity created.</description>
        <name>check_address_found</name>
        <label>check address found</label>
        <locationX>1524</locationX>
        <locationY>1805</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Address_of_primary_applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_address</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Address_of_primary_applicant_Current_Residence_address</name>
        <label>check Address of primary applicant Current Residence address</label>
        <locationX>1744</locationX>
        <locationY>2021</locationY>
        <defaultConnector>
            <targetReference>loop_over_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Residence_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_over_address.Loan_Applicant__r.Applicant_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applicant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_over_address.Address_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residence Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_residence_address</targetReference>
            </connector>
            <label>Current Residence Address</label>
        </rules>
        <rules>
            <name>check_Address_of_primary_applicant_Office_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_over_address.Address_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Office Address</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_over_address.Loan_Applicant__r.Applicant_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applicant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_office_Address</targetReference>
            </connector>
            <label>check Address of primary applicant Office address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Applicant</name>
        <label>Check Applicant</label>
        <locationX>1172</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Application</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Application</name>
        <label>Check Application</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Application_Check_RCU</name>
        <label>Check Application Check RCU</label>
        <locationX>2470</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_RCU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CM_RCU</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Record_Type</name>
        <label>Decision Record Type</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RCU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records</targetReference>
            </connector>
            <label>RCU</label>
        </rules>
        <rules>
            <name>Other_then_RCU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RCU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant</targetReference>
            </connector>
            <label>Other then RCU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_RCU_Activity</name>
        <label>Not RCU Activity</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_then_RCUActivity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RCU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipients_for_New_records</targetReference>
            </connector>
            <label>Other then RCU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_change_from_manager_to_vendor</name>
        <label>Owner change from manager to vendor</label>
        <locationX>2030</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_Recipients1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCU Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:Group.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RCU Managers Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_manager_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profile_Decision</name>
        <label>Profile Decision</label>
        <locationX>1524</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Apex_Record_Sharing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNewRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_RCU_Activity</targetReference>
            </connector>
            <label>isNewRecord</label>
        </rules>
        <rules>
            <name>RCU_Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USFB - Partner Community User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vendor_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vendor_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Record_Type</targetReference>
            </connector>
            <label>RCU Vendor</label>
        </rules>
        <rules>
            <name>Owner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_change_from_manager_to_vendor</targetReference>
            </connector>
            <label>Owner Changed</label>
        </rules>
        <rules>
            <name>RCU_Manager</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCU Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sampled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screened</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vendor_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Application_RCU</targetReference>
            </connector>
            <label>RCU Manager</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentAddF</name>
        <dataType>String</dataType>
        <expression>{!loop_over_address.Name} + &apos; &apos; + {!loop_over_address.Address_Line_2__c} +&apos; &apos; + {!loop_over_address.Address_Line_3__c} + &apos;  &apos;+{!loop_over_address.City__c} + &apos; &apos; +{!loop_over_address.State__c} + &apos; &apos; +{!loop_over_address.Pincode__r.Name}</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Ub Activity After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ub Activity After Update</label>
    <loops>
        <name>loop_over_address</name>
        <label>loop over address</label>
        <locationX>1392</locationX>
        <locationY>1913</locationY>
        <collectionReference>Get_Address_of_primary_applicant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Address_of_primary_applicant_Current_Residence_address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_5</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Address_of_primary_applicant</name>
        <label>Get Address of primary applicant</label>
        <locationX>1524</locationX>
        <locationY>1697</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_address_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Applicant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant</name>
        <label>Get Applicant</label>
        <locationX>1172</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Applicant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applicant.Loan_Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application_RCU</name>
        <label>Get Application RCU</label>
        <locationX>2470</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Application_Check_RCU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_manager_field</name>
        <label>Update manager field</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Assign_Recipients1</targetReference>
        </connector>
        <inputAssignments>
            <field>RCU_Manager__c</field>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Assign_Recipients</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.RCU_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_5</name>
        <label>Update Records 5</label>
        <locationX>1392</locationX>
        <locationY>2405</locationY>
        <inputAssignments>
            <field>Current_Residence_Address__c</field>
            <value>
                <elementReference>residenceAdd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Landmark__c</field>
            <value>
                <elementReference>landmark</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Address__c</field>
            <value>
                <elementReference>officeAdd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pincode__c</field>
            <value>
                <elementReference>pincode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_by_RCU_Manager</name>
        <label>Update Records by RCU Manager</label>
        <locationX>2338</locationX>
        <locationY>863</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Apex_Record_Sharing</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Application_RCU.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_other_then_RCU</name>
        <label>Update Records other then RCU</label>
        <locationX>842</locationX>
        <locationY>1187</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Apex_Record_Sharing</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Application.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1398</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Profile_Decision</targetReference>
        </connector>
        <object>Valuation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>UB_Custom_Notification</name>
        <label>UB_Custom Notification</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Activity_Email_Alert</targetReference>
        </connector>
        <flowName>UB_Custom_Notification_Flow</flowName>
        <inputAssignments>
            <name>CustomNotificationDeveloperName</name>
            <value>
                <stringValue>Lead_Owner_Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Actvity Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIDs</name>
            <value>
                <elementReference>recsIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UB_Custom_Notification1</name>
        <label>UB_Custom Notification</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Update_Records_other_then_RCU</targetReference>
        </connector>
        <flowName>UB_Custom_Notification_Flow</flowName>
        <inputAssignments>
            <name>CustomNotificationDeveloperName</name>
            <value>
                <stringValue>Lead_Owner_Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>notificationBodyOtherThenRCU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Activity Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIDs</name>
            <value>
                <elementReference>recsIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UB_Custom_Notification2</name>
        <label>UB_Custom Notification</label>
        <locationX>2030</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Copy_1_of_Activity_Email_Alert</targetReference>
        </connector>
        <flowName>UB_Custom_Notification_Flow</flowName>
        <inputAssignments>
            <name>CustomNotificationDeveloperName</name>
            <value>
                <stringValue>Lead_Owner_Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Actvity Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIDs</name>
            <value>
                <elementReference>recsIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UB_Custom_Notification_For_new_records</name>
        <label>UB_Custom Notification For new records</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Activity_Email_Alert_for_new_records</targetReference>
        </connector>
        <flowName>UB_Custom_Notification_Flow</flowName>
        <inputAssignments>
            <name>CustomNotificationDeveloperName</name>
            <value>
                <stringValue>Lead_Owner_Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Actvity Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIDs</name>
            <value>
                <elementReference>recsIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UB_Custom_NotificationRCU</name>
        <label>UB_Custom Notification</label>
        <locationX>2338</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Records_by_RCU_Manager</targetReference>
        </connector>
        <flowName>UB_Custom_Notification_Flow</flowName>
        <inputAssignments>
            <name>CustomNotificationDeveloperName</name>
            <value>
                <stringValue>Lead_Owner_Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>notificationBodyOtherThenRCU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Activity Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIDs</name>
            <value>
                <elementReference>recsIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have been assigned a new activity : {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>notificationBodyOtherThenRCU</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Activity has been completed : {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>landmark</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>officeAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>officeLandmark</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pincode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>residenceAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
