force-app/main/default/flows/Ub_Address_Created_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Count1</name>
        <label>Count</label>
        <locationX>974</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>COUNT</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Yes_Communication_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count12</name>
        <label>Count</label>
        <locationX>2646</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>COUNT</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_Get_Address_Related_to_Applicant</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_Created_From</name>
        <label>Address Created From</label>
        <locationX>1942</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_LOB_Validate</targetReference>
            </connector>
            <label>From Lead</label>
        </rules>
        <rules>
            <name>From_Loan_Apllicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Applicant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Updation_Creation1</targetReference>
            </connector>
            <label>From Loan Apllicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Count</name>
        <label>Check Count</label>
        <locationX>886</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Count_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COUNT</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error5</targetReference>
            </connector>
            <label>If Count &gt;1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Count11</name>
        <label>Check Count</label>
        <locationX>2558</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Count_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COUNT</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>error5</targetReference>
            </connector>
            <label>If Count &gt;1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_Address_Found</name>
        <label>Check Existing  Address Found</label>
        <locationX>732</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Count_Yes_Communication_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Address_Record</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error1</targetReference>
            </connector>
            <label>No Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Exiting_Addrss_Found</name>
        <label>Check Exiting Addrss Found</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Decision_to_check_1st_Create_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Address_Record1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Address_Record1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Communication__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>error5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Updation_Creation</name>
        <label>Check Updation/Creation</label>
        <locationX>666</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Address_Record1</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Communication__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Address_Record</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Updation_Creation1</name>
        <label>Check Updation/Creation</label>
        <locationX>2338</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_Address_Record</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Communication__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Address_Related_to_Applicant</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_1st_Create_Address</name>
        <label>Decision to check 1st Create Address</label>
        <locationX>226</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1st_Create_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Address_Record1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Communication__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error1</targetReference>
            </connector>
            <label>1st Create Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_1st_Create_Address1</name>
        <label>Decision to check 1st Create Address</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>st_Create_Address1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Address_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Communication__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error1</targetReference>
            </connector>
            <label>1st Create Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Address_Found11</name>
        <label>Check Existing  Address Found</label>
        <locationX>2404</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>loop_over_Get_Address_Related_to_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Address_Related_to_Applicant</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error1</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exiting_Addrss_Found1</name>
        <label>Exiting Addrss Found</label>
        <locationX>1722</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Decision_to_check_1st_Create_Address1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Address_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Communication__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Applicant_Address_Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>error5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_LOB_Validate</name>
        <label>Lead LOB</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Updation_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BL</defaultConnectorLabel>
        <rules>
            <name>CVCE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__r.LOB__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Updation_Creation</targetReference>
            </connector>
            <label>CV/CE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Ub_Address Created/Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ub_Address Created/Update Flow</label>
    <loops>
        <name>Count_Yes_Communication_record</name>
        <label>Count Yes Communication record</label>
        <locationX>886</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Address_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_over_Get_Address_Related_to_Applicant</name>
        <label>loop over Get_Address_Related_to_Applicant</label>
        <locationX>2558</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Address_Related_to_Applicant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count12</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Count11</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Address_Record</name>
        <label>Get Address Record</label>
        <locationX>732</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_Address_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Communication__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Address_Record1</name>
        <label>Get Address Record</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Exiting_Addrss_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Communication__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Address_Related_to_Applicant</name>
        <label>Get Address Related to Applicant</label>
        <locationX>2404</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Address_Found11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Applicant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Communication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Address_Record</name>
        <label>Get Applicant Address Record</label>
        <locationX>1722</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exiting_Addrss_Found1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Applicant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Communication__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1816</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Address_Created_From</targetReference>
        </connector>
        <object>Address__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>COUNT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
