force-app/main/default/flows/UB_Create_Sanction_Condition_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>Validate Sanction Condition Record Id is retrieved from UB_CreateFinancialRecord LWC.</description>
        <name>Validate_Sanction_Condition_Record_Id_Exists</name>
        <label>Validate Sanction Condition Record Id Exists</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Sanction_Conditions_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Id Doesn&apos;t Exists</defaultConnectorLabel>
        <rules>
            <name>Record_Id_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sanctionConditionRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sanctionConditionRecordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Sanction_Condition_Record_Details</targetReference>
            </connector>
            <label>Record Id Exists</label>
        </rules>
    </decisions>
    <description>This flow will be called from UB_CreateFinancialRecord LWC.</description>
    <dynamicChoiceSets>
        <description>Sanction Condition Status Picklist Values</description>
        <name>SanctionConditionStatusPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Deviation_Sanction_Condition__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>UB_CreateSanctionConditionRec {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UB_Create Sanction Condition Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Sanction Condition Records</description>
        <name>Create_Sanction_Condition_Records</name>
        <label>Create Sanction Condition Records</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>SubmitScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Application__c</field>
            <value>
                <elementReference>loanApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Sanction Condition</stringValue>
            </value>
        </inputAssignments>
        <object>Deviation_Sanction_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Fetch Sanction Condition Record Details</description>
        <name>Fetch_Sanction_Condition_Record_Details</name>
        <label>Fetch Sanction Condition Record Details</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sanction_Condition_Update_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sanctionConditionRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Deviation_Sanction_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Sanction Condition Record</description>
        <name>Update_Sanction_Condition_Record</name>
        <label>Update Sanction Condition Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SubmitScreenUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sanctionConditionRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Update_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Update_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Deviation_Sanction_Condition__c</object>
    </recordUpdates>
    <screens>
        <description>Sanction Conditions Screen to input Status and Description.</description>
        <name>Sanction_Condition_Update_Screen</name>
        <label>Sanction Condition Update Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Sanction_Condition_Record</targetReference>
        </connector>
        <fields>
            <name>Update_Sanction_Condition</name>
            <fieldText>Update Sanction Condition</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Sanction_Condition_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_Status</name>
                    <choiceReferences>SanctionConditionStatusPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Sanction_Condition_Record_Details.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Update_Description</name>
                    <defaultValue>
                        <stringValue>{!Fetch_Sanction_Condition_Record_Details.Description__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Sanction Conditions Screen to input Status and Description.</description>
        <name>Sanction_Conditions_Screen</name>
        <label>Sanction Conditions Screen</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Sanction_Condition_Records</targetReference>
        </connector>
        <fields>
            <name>New_Sanction_Condition</name>
            <fieldText>New Sanction Condition</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sanction_Condition_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>SanctionConditionStatusPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Pending</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <defaultValue>
                        <stringValue>{!Fetch_Sanction_Condition_Record_Details.Description__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SubmitScreen</name>
        <label>SubmitScreen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordCreatedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(35, 144, 8);&quot;&gt;New Sanction Condition record created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SubmitScreenUpdate</name>
        <label>SubmitScreen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_RecordCreatedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(35, 144, 8);&quot;&gt;Sanction Condition record updated successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Sanction_Condition_Record_Id_Exists</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Passing Loan Application ID from UB_CreateFinancialRecord LWC to create Sanction Conditions.</description>
        <name>loanApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>sanctionConditionRecordId is passed from UB_CreateFinancialRecord LWC.</description>
        <name>sanctionConditionRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
