force-app/main/default/flows/UB_Customer_Tele_Verification_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Assign Vehicle Make-Model</description>
        <name>Assign_Vehicle_Make_Model</name>
        <label>Assign Vehicle Make-Model</label>
        <locationX>162</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VehicleMakeModelCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConcatenateVehicleMakeModel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Vehicle_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Applicant Type as Primary Applicant or Co-Applicant</description>
        <name>Validate_Applicant_Type</name>
        <label>Validate Applicant Type</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Update_Loan_ApplicantRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Co-Applicant</defaultConnectorLabel>
        <rules>
            <name>Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsTypeApplicant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_Applicant_Record</targetReference>
            </connector>
            <label>Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate Loan Application Record is fetched</description>
        <name>Validate_Loan_Application_Record</name>
        <label>Validate Loan Application Record</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Loan Applicant Null</defaultConnectorLabel>
        <rules>
            <name>Loan_Applicant_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Loan_Applicant_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Applicant_Address</targetReference>
            </connector>
            <label>Loan Applicant Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate Vehicle Records Exists</description>
        <name>Validate_Vehicle_Records</name>
        <label>Validate Vehicle Records</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Customer_Tele_Verification_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vehicle Record Doesn&apos;t Exists</defaultConnectorLabel>
        <rules>
            <name>Vehicle_Records_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Vehicle_Information</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Vehicle_Records</targetReference>
            </connector>
            <label>Vehicle Records Exists</label>
        </rules>
    </decisions>
    <description>UB_Customer Tele-Verification Report</description>
    <environments>Default</environments>
    <formulas>
        <description>Concatenate Vehicle Make Model</description>
        <name>ConcatenateVehicleMakeModel</name>
        <dataType>String</dataType>
        <expression>{!Iterate_Vehicle_Records.Make__c}+&quot;-&quot;+{!Iterate_Vehicle_Records.Model__c}</expression>
    </formulas>
    <formulas>
        <description>Current Logged In User</description>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$User.FirstName})), {!$User.FirstName}+&apos; &apos;, &apos;&apos;)  + IF(NOT(ISBLANK({!$User.MiddleName})), {!$User.MiddleName}+&apos; &apos;, &apos;&apos;)   + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>DisplayVehicleDetails</description>
        <name>DisplayVehicleDetails</name>
        <dataType>String</dataType>
        <expression>MID(LEFT({!VehicleMakeModelCollection}, LEN({!VehicleMakeModelCollection})-1), 2, LEN(LEFT({!VehicleMakeModelCollection}, LEN({!VehicleMakeModelCollection})-1)))</expression>
    </formulas>
    <formulas>
        <description>Applicant Full Address</description>
        <name>FullAddress</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!Fetch_Applicant_Address.Id})), {!Fetch_Applicant_Address.Name}+&quot; &quot;+{!Fetch_Applicant_Address.Address_Line_2__c}+&quot; &quot;+{!Fetch_Applicant_Address.Address_Line_3__c}+&quot; &quot;+{!Fetch_Applicant_Address.Pincode__r.City__r.Name}+&quot; &quot;+{!Fetch_Applicant_Address.District__c}+&quot; &quot;+{!Fetch_Applicant_Address.State__c}+&quot; &quot;+{!Fetch_Applicant_Address.Country__c}+&quot; &quot;+{!Fetch_Applicant_Address.Pincode__r.Name}, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>IsTypeApplicant</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!Fetch_Loan_Applicant_Details.Applicant_Type__c},&quot;Applicant&quot;), true, false)</expression>
    </formulas>
    <formulas>
        <description>Dynamic Report Sub-Header</description>
        <name>ReportSubHeader</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Fetch_Loan_Applicant_Details.Applicant_Type__c},&quot;Applicant&quot;), &quot;Applicant To Be Called From Office Land Line Only&quot;, &quot;Co-Applicant To Be Called From Office Land Line Only &quot;)</expression>
    </formulas>
    <interviewLabel>UB_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UB_Customer Tele-Verification Report</label>
    <loops>
        <description>Iterate over Vehicle Records to store make-model data.</description>
        <name>Iterate_Vehicle_Records</name>
        <label>Iterate Vehicle Records</label>
        <locationX>74</locationX>
        <locationY>674</locationY>
        <collectionReference>Fetch_Vehicle_Information</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Vehicle_Make_Model</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Customer_Tele_Verification_Report</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Fetch Loan Applicant Current Residence Address Information</description>
        <name>Fetch_Applicant_Address</name>
        <label>Fetch Applicant Address</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Vehicle_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanApplicantId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residence Address</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch Loan Applicant Details</description>
        <name>Fetch_Loan_Applicant_Details</name>
        <label>Fetch Loan Applicant Details</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Loan_Application_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanApplicantId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch Vehicle Information against Loan Application Id</description>
        <name>Fetch_Vehicle_Information</name>
        <label>Fetch Vehicle Information</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Vehicle_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Loan_Applicant_Details.Loan_Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Loan Applicant Record</description>
        <name>Update_Loan_Applicant_Record</name>
        <label>Update Loan Applicant Record</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>TVRSuccessMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanApplicantId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alternate_Number__c</field>
            <value>
                <elementReference>AlternateNumberInput.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applying_for_Loan_Confirmation__c</field>
            <value>
                <elementReference>LoanConfirmation_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Documented_Quotation_Verified__c</field>
            <value>
                <elementReference>AssetDetailsConfirmation_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Residential_Address_Verified__c</field>
            <value>
                <elementReference>ApplicantAddressConfirmation_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TVR_Initiated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Loan_Applicant__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Loan Applicant Record</description>
        <name>Update_Loan_ApplicantRecord</name>
        <label>Update Loan Applicant Record</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>TVRSuccessMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanApplicantId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alternate_Number__c</field>
            <value>
                <elementReference>AlternateNumberInput.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applying_for_Loan_Confirmation__c</field>
            <value>
                <elementReference>LoanConfirmation_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Residential_Address_Verified__c</field>
            <value>
                <elementReference>ApplicantAddressConfirmation_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TVR_Initiated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Loan_Applicant__c</object>
    </recordUpdates>
    <screens>
        <description>Customer Tele-Verification Report</description>
        <name>Customer_Tele_Verification_Report</name>
        <label>Customer Tele-Verification Report</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Applicant_Type</targetReference>
        </connector>
        <fields>
            <name>ReportHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;CUSTOMER TELE VERIFICATION REPORT&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>System_Information</name>
            <fieldText>System Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>System_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employee_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CurrentUser</elementReference>
                    </defaultValue>
                    <fieldText>Employee Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>System_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employee_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Loan_Applicant_Details.Employee_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>Employee Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>System_Information_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Time</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Basic_Information</name>
            <fieldText>Basic Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Basic_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Applicant_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Loan_Applicant_Details.Account_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Applicant Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AlternateNumberInput</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Applicant&apos;s Alternate Mobile Number (If Any)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Fetch_Loan_Applicant_Details.Alternate_Number__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ApplicantCurrentAddressInfo</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Current Residential Address&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!FullAddress}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AssetInformation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Asset Details&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!DisplayVehicleDetails}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsTypeApplicant</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Basic_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Applicant_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Loan_Applicant_Details.Mobile__c</elementReference>
                    </defaultValue>
                    <fieldText>Applicant Mobile Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LoanConfirmation_Input</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Loan_Applicant_Details.Applying_for_Loan_Confirmation__c</elementReference>
                    </defaultValue>
                    <fieldText>Does the customer confirm applying for the loan?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ApplicantAddressConfirmation_Input</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Loan_Applicant_Details.Current_Residential_Address_Verified__c</elementReference>
                    </defaultValue>
                    <fieldText>Does the address on the application form match what the customer confirmed over the phone?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AssetDetailsConfirmation_Input</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Loan_Applicant_Details.Asset_Documented_Quotation_Verified__c</elementReference>
                    </defaultValue>
                    <fieldText>Does the asset as documented in quotation match what the customer confirmed over the phone?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsTypeApplicant</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <pausedText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The submission of the report for customer tele-verification has been successfully canceled.&lt;/span&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TVRSuccessMessage</name>
        <label>TVRSuccessMessage</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(2, 157, 29);&quot;&gt;Customer TVR completed successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Loan_Applicant_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Loan Applicant Id</description>
        <name>loanApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Vehicle Make-Model Collection</description>
        <name>VehicleMakeModelCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
