force-app/main/default/flows/UB_Dealer_Tele_Verification_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Validate Vehicle Record</description>
        <name>ValidateVehicleRecord</name>
        <label>Validate Vehicle Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Vehicle Record NULL</defaultConnectorLabel>
        <rules>
            <name>Vehicle_Record_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Vehicle_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DealerTVRScreen</targetReference>
            </connector>
            <label>Vehicle Record NOT NULL</label>
        </rules>
    </decisions>
    <description>Dealer Tele-Verification Record</description>
    <environments>Default</environments>
    <formulas>
        <description>Current User Information</description>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$User.FirstName})), {!$User.FirstName}+&apos; &apos;, &apos;&apos;)  + IF(NOT(ISBLANK({!$User.MiddleName})), {!$User.MiddleName}+&apos; &apos;, &apos;&apos;)   + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>Returns true if the product is of CV type.</description>
        <name>IsProductCV</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!Fetch_Vehicle_Record.Product__r.Name}, &apos;CV&apos;), true, false)</expression>
    </formulas>
    <interviewLabel>UB_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UB_Dealer Tele-Verification Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Fetch Vehicle Record</description>
        <name>Fetch_Vehicle_Record</name>
        <label>Fetch Vehicle Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidateVehicleRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vehicleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Vehicle Record</description>
        <name>Update_Vehicle_Record</name>
        <label>Update Vehicle Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>TVRCompletedMessageScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vehicleId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealer_has_Issued_Quotation__c</field>
            <value>
                <elementReference>QuotationConfirmationInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_has_Shared_Account_Details__c</field>
            <value>
                <elementReference>AccountDetailsConfirmationInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TVR_Initiated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <screens>
        <description>Dealer TVR Screen</description>
        <name>DealerTVRScreen</name>
        <label>Dealer TVR Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Update_Vehicle_Record</targetReference>
        </connector>
        <fields>
            <name>ReportHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;Dealer Tele Verification Report&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>System_Information</name>
            <fieldText>System Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>System_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employee_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CurrentUser</elementReference>
                    </defaultValue>
                    <fieldText>Employee Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>System_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employee_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Vehicle_Record.Loan_Application__r.Employee_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Employee Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>System_Information_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Time</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Basic_Information</name>
            <fieldText>Basic Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Basic_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dealer_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Vehicle_Record.Dealer__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Dealer Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsProductCV</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Dealer_Telephone_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Vehicle_Record.Dealer__r.Dealer_Phone_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Dealer Telephone Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsProductCV</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>QuotationConfirmationInput</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Vehicle_Record.Dealer_has_Issued_Quotation__c</elementReference>
                    </defaultValue>
                    <fieldText>Please confirm if the dealer has issued the quotation.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Basic_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dealer_Address</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Vehicle_Record.Dealer__r.Dealer_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Dealer Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsProductCV</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Contact_Person_Dealer_GM</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Vehicle_Record.Dealer__r.Contact_Person_Dealer_GM__c</elementReference>
                    </defaultValue>
                    <fieldText>Contact Person/Dealer GM</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsProductCV</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AccountDetailsConfirmationInput</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Vehicle_Record.Dealer_has_Shared_Account_Details__c</elementReference>
                    </defaultValue>
                    <fieldText>Please confirm if the dealer provides its account details for RTGS/NEFT.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TVRCompletedMessageScreen</name>
        <label>TVRCompletedMessageScreen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TVRCompletedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(2, 157, 29);&quot;&gt;Dealer TVR completed successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Vehicle_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Vehicle Id passing from dynamicRelatedList LWC component</description>
        <name>vehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
