force-app/main/default/flows/UB_Loan_Application_After_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Apex Record Sharing for Loan Application Object</description>
        <name>Apex_Record_Sharing</name>
        <label>Apex Record Sharing</label>
        <locationX>446</locationX>
        <locationY>2447</locationY>
        <actionName>UB_CommonUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FetchManagerIds</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordAccessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userOrGroupId</name>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>share dedupe loan application with dedupe reject application in read mode</description>
        <name>Apex_Record_Sharing1</name>
        <label>Apex Record Sharing</label>
        <locationX>1216</locationX>
        <locationY>4979</locationY>
        <actionName>UB_CommonUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BL_Is_loan_Negotiation_Approved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordAccessLevel</name>
            <value>
                <stringValue>read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Duplicate_LAF_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userOrGroupId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BL_SendApplicationCancellationEmail</name>
        <label>BL_SendApplicationCancellationEmail</label>
        <locationX>1084</locationX>
        <locationY>6335</locationY>
        <actionName>BL_SendApplicationCancellationEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>LA_Bank_Induced_Template</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loanApplicationId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Call_SMS_API</name>
        <label>Call SMS API</label>
        <locationX>1084</locationX>
        <locationY>6035</locationY>
        <actionName>UB_SmsApi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Cancelation_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Call_SMS_Api1</name>
        <label>Call SMS Api</label>
        <locationX>1348</locationX>
        <locationY>6035</locationY>
        <actionName>UB_SmsApi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Cancelation_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_BL_SendApplicationCancellationEmail</name>
        <label>Copy 2 of BL_SendApplicationCancellationEmail</label>
        <locationX>1348</locationX>
        <locationY>6335</locationY>
        <actionName>BL_SendApplicationCancellationEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>LA_Customer_Induced_Template</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loanApplicationId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Fetch Direct &amp; Indirect Managers</description>
        <name>FetchManagerIds</name>
        <label>FetchManagerIds</label>
        <locationX>446</locationX>
        <locationY>2555</locationY>
        <actionName>UB_FetchIndirectManagerIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_CPA_Owner_Change</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ownerID</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Previous_Owner_Record_Sharing</name>
        <label>Previous Owner Record Sharing</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <actionName>UB_CommonUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_RM_is_not_Owner_of_LAF</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordAccessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userOrGroupId</name>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_Action</name>
        <label>Send Custom Notification Action</label>
        <locationX>446</locationX>
        <locationY>2339</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Apex_Record_Sharing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>LoanApplicationOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_Email_To_Customer</name>
        <label>Send Rejection Email To Customer</label>
        <locationX>1084</locationX>
        <locationY>5927</locationY>
        <actionName>UB_SendRejectionEmailToCustomer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_SMS_API</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>loanId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_Email_To_Customer_BL</name>
        <label>Send Rejection Email To Customer BL</label>
        <locationX>1348</locationX>
        <locationY>5927</locationY>
        <actionName>UB_SendRejectionEmailToCustomer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_SMS_Api1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>loanId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>share_LAF_to_RM</name>
        <label>share LAF to RM</label>
        <locationX>974</locationX>
        <locationY>947</locationY>
        <actionName>UB_CommonUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Queue_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordAccessLevel</name>
            <value>
                <stringValue>read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userOrGroupId</name>
            <value>
                <elementReference>RelationshipManagerId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_CM_Owner</name>
        <label>Assign CM Owner</label>
        <locationX>314</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>cmOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Custom_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CPA_Owner</name>
        <label>Assign CPA Owner</label>
        <locationX>50</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>cpaOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CPA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Custom_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Manger_Id</name>
        <label>Assign Manger Id</label>
        <locationX>446</locationX>
        <locationY>2963</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manager_IDs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManagerIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checking_Manager_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>446</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>LoanApplicationOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RM_Owner</name>
        <label>Assign RM Owner</label>
        <locationX>578</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>$Record.Ro_RM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Custom_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning RO/RM user in a variable to send the bell notification</description>
        <name>Assignment_of_RO_RM_and_send_the_notification</name>
        <label>Assignment of RO/RM and send the notification</label>
        <locationX>1810</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>RO_RM_AND_DSA_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.DSA__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loan Application Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loan application {!$Record.Name} has been rejected. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_RO_RM_or_DSA_user_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning RO/RM user in a variable to send the bell notification</description>
        <name>Assignment_of_RO_RM_Id_to_send_the_notification</name>
        <label>Assignment of RO/RM Id to send the notification</label>
        <locationX>1546</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>RO_RM_AND_DSA_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loan Application Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loan application {!$Record.Name} has been rejected. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_RO_RM_or_DSA_user_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Email_Ids</name>
        <label>Collect Email Ids</label>
        <locationX>1216</locationX>
        <locationY>4679</locationY>
        <assignmentItems>
            <assignToReference>Email_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Related_Loan_Applicant.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Dedupe_Application_found_for_sharing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning RO/RM user in a variable to send the bell notification</description>
        <name>RO_RM_user_Assignment</name>
        <label>RO/RM user Assignment</label>
        <locationX>1018</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>RO_RM_AND_DSA_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Ro_RM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loan Application Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loan application {!$Record.Name} has been rejected. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_RO_RM_or_DSA_user_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning RO/RM user in a variable to send the bell notification</description>
        <name>RO_RM_user_Assignment_from_DSA</name>
        <label>RO/RM user Assignment from DSA</label>
        <locationX>1282</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>RO_RM_AND_DSA_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loan Application Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loan application {!$Record.Name} has been rejected. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_RO_RM_or_DSA_user_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Application_LOB</name>
        <label>Application LOB</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_RM_is_not_Owner_of_LAF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CV/CE</defaultConnectorLabel>
        <rules>
            <name>BL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Owner_Record_Sharing</targetReference>
            </connector>
            <label>BL</label>
        </rules>
    </decisions>
    <decisions>
        <name>BL_Is_loan_Negotiation_Approved</name>
        <label>Is loan Negotiation Approved in BL</label>
        <locationX>1348</locationX>
        <locationY>5171</locationY>
        <defaultConnector>
            <targetReference>Reject_Loan_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BL_Negotiation_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BL_Negotiation_Approval_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BL_Negotiation_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Products</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking CPA Or Above User in Hierarchy changing the owner on Loan Application</description>
        <name>Check_CPA_Owner_Change</name>
        <label>Check CPA Owner Change</label>
        <locationX>446</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Assign_Manger_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_CPA_User_Taking_Ownership_Of_Loan_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPA_Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Credit Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Regional Credit Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>National Credit Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCurrentUserOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_On_Owner_Change</targetReference>
            </connector>
            <label>If CPA User Taking Ownership Of Loan Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CPA_Queue_return</name>
        <label>Check CPA Queue return</label>
        <locationX>1348</locationX>
        <locationY>3863</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Loan_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_CPA_can_return_to_CPA_Qeueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPA_Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LoginUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Only_CPA_Can_Assing_Back_to_Cpa_Queue</targetReference>
            </connector>
            <label>Only CPA can return to CPA Qeueue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Dedupe_Application_found_for_sharing</name>
        <label>Check Dedupe Application found for sharing</label>
        <locationX>1348</locationX>
        <locationY>4871</locationY>
        <defaultConnector>
            <targetReference>BL_Is_loan_Negotiation_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dedupe_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Duplicate_LAF_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Duplicate_LAF_Id__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Record_Sharing1</targetReference>
            </connector>
            <label>Dedupe Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Stage_and_owner_change</name>
        <label>Check for Stage and owner Change</label>
        <locationX>1348</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Owner_Change_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_owner_and_stage_Change</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Stage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_LOB</targetReference>
            </connector>
            <label>Is owner and stage Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Open_Queries_before_Owner_Change_to_CPA_Queue</name>
        <label>check Open Queries before Owner Change to CPA Queue</label>
        <locationX>1348</locationX>
        <locationY>3563</locationY>
        <defaultConnector>
            <targetReference>Check_CPA_Queue_return</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Change_to_CPA_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Queries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPA_Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Open_Queries_before_Change_to_CPA_Queue</targetReference>
            </connector>
            <label>Owner Change to CPA Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Record_Found_Or_Not</name>
        <label>Check Related Record Found Or Not</label>
        <locationX>1348</locationX>
        <locationY>4571</locationY>
        <defaultConnector>
            <targetReference>Check_Dedupe_Application_found_for_sharing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Loan_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Email_Ids</targetReference>
            </connector>
            <label>IF Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RM_is_not_Owner_of_LAF</name>
        <label>Check RM is not Owner of LAF</label>
        <locationX>1106</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Is_Queue_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RM_is_not_Owner_of_LAF</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Relationship_Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BL_Relationship_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>share_LAF_to_RM</targetReference>
            </connector>
            <label>RM is not Owner of LAF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RO_RM_or_DSA_user_Id</name>
        <label>Check RO/RM or DSA user Id</label>
        <locationX>1546</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Reject_Loan_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_RO_RM_or_DSA_user_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RO_RM_AND_DSA_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UB_Custom_Notification_Sub_Flow_Flow_1</targetReference>
            </connector>
            <label>Check RO/RM or DSA user Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking  RO/RM User Present  on Loan Application</description>
        <name>Check_RO_RM_User_on_Loan_Application</name>
        <label>Check RO/RM User on Loan Application</label>
        <locationX>1546</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Check_RO_RM_or_DSA_user_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RO_RM_User_Present_on_Loan_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ro_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RO_RM_user_Assignment</targetReference>
            </connector>
            <label>RO/RM User Present on Loan Application</label>
        </rules>
        <rules>
            <name>CV_RO_RM_User_Not_present_on_Loan_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ro_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USFB CV - Partner Community User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Manager.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RO_RM_user_Assignment_from_DSA</targetReference>
            </connector>
            <label>CV RO/RM User Not present on Loan Application</label>
        </rules>
        <rules>
            <name>If_Current_owner_is_RO_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_RO_RM_Id_to_send_the_notification</targetReference>
            </connector>
            <label>If Current owner is RO/RM</label>
        </rules>
        <rules>
            <name>BL_RO_RM_User_Not_present_on_Loan_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ro_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DSA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_RO_RM_and_send_the_notification</targetReference>
            </connector>
            <label>BL RO/RM User Not present on Loan Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>checking_Manager_id</name>
        <label>checking Manager id</label>
        <locationX>446</locationX>
        <locationY>3071</locationY>
        <defaultConnector>
            <targetReference>Get_Open_Queries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_case_of_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manager_IDs__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_IDs__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>In case of not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_owner_type</name>
        <label>Checking owner type</label>
        <locationX>886</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Owner_Change_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prior_Owner_is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QueueName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Activity_History</targetReference>
            </connector>
            <label>Prior Owner is Queue</label>
        </rules>
        <rules>
            <name>Copy_1_of_Current_Owner_is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QueueName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Activity_History3</targetReference>
            </connector>
            <label>Copy 1 of Current Owner is Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_changes_of_Loan_Status</name>
        <label>Decision to check changes of Loan Status</label>
        <locationX>1348</locationX>
        <locationY>4271</locationY>
        <defaultConnector>
            <targetReference>Check_Related_Record_Found_Or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LAF_Generation_Consent_to_Assigned_To_Credit</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Loan_Application_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAF Generation &amp; Consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned to Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Ub_Create_RCU_Activity_Subflow_Flow</targetReference>
            </connector>
            <label>LAF Generation &amp; Consent to Assigned To Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Queue_Owner</name>
        <label>Is Queue Owner?</label>
        <locationX>1106</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Create_Activity_History2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is User?</defaultConnectorLabel>
        <rules>
            <name>Is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_owner_type</targetReference>
            </connector>
            <label>Is Queue?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Change</name>
        <label>Owner Change</label>
        <locationX>446</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>get_Custom_Notification_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BL CPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CPA_Owner</targetReference>
            </connector>
            <label>CPA</label>
        </rules>
        <rules>
            <name>CM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BL Branch Credit Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CM_Owner</targetReference>
            </connector>
            <label>CM</label>
        </rules>
        <rules>
            <name>RM_BL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BL Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RM_Owner</targetReference>
            </connector>
            <label>RM BL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Change_Notification</name>
        <label>Owner Change Notification</label>
        <locationX>1348</locationX>
        <locationY>1715</locationY>
        <defaultConnector>
            <targetReference>Get_Open_Queries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Notification_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Change</targetReference>
            </connector>
            <label>Send Notification Owner</label>
        </rules>
        <rules>
            <name>Loan_Status_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RO_RM_User_on_Loan_Application</targetReference>
            </connector>
            <label>Loan Status Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reject_Loan_Status</name>
        <label>Reject Loan Status</label>
        <locationX>1348</locationX>
        <locationY>5819</locationY>
        <defaultConnector>
            <targetReference>Send_Cancelation_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected_Not_For_BL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LOB__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rejection_Email_To_Customer</targetReference>
            </connector>
            <label>Rejected Not For BL</label>
        </rules>
        <rules>
            <name>Rejected_For_BL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rejection_Email_To_Customer_BL</targetReference>
            </connector>
            <label>Rejected For BL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Cancelation_Email</name>
        <label>Send Cancelation Email</label>
        <locationX>1348</locationX>
        <locationY>6227</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bank_Induced_Email_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BL_Cancellation_Reasons__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BL_Cancellation_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BL_Cancellation_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bank Induced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BL_SendApplicationCancellationEmail</targetReference>
            </connector>
            <label>Bank Induced Email Template</label>
        </rules>
        <rules>
            <name>Customer_Induced_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BL_Cancellation_Reasons__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BL_Cancellation_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BL_Cancellation_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Induced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_BL_SendApplicationCancellationEmail</targetReference>
            </connector>
            <label>Customer_Induced_Template</label>
        </rules>
    </decisions>
    <description>BL related changes where previous owner should have read-only access.</description>
    <environments>Default</environments>
    <formulas>
        <description>Validate OwnerId with Current User</description>
        <name>isCurrentUserOwner</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!$Record.OwnerId},{!$User.Id}),true,false)</expression>
    </formulas>
    <formulas>
        <name>LoginUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>ManagerIds</name>
        <dataType>String</dataType>
        <expression>{!FetchManagerIds}</expression>
    </formulas>
    <formulas>
        <name>QueueName</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!$Record.Owner:Group.Name})),
    {!$Record.Owner:Group.Name},
    IF(
        NOT(ISBLANK({!$Record__Prior.Owner:Group.Name})),
        {!$Record__Prior.Owner:Group.Name},
        &quot;&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>RelationshipManagerId</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!$Record.Ro_RM__c}), {!$Record.DSA__r.ManagerId}, {!$Record.Ro_RM__c})</expression>
    </formulas>
    <formulas>
        <name>TAT</name>
        <dataType>Number</dataType>
        <expression>Now() - {!$Record__Prior.LastModifiedDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>UB_Loan Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UB_Loan Application After Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activity_History</name>
        <label>Create Activity History</label>
        <locationX>622</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Owner_Change_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>From_Stage__c</field>
            <value>
                <elementReference>$Record__Prior.Loan_Application_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_To_Queue__c</field>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAT__c</field>
            <value>
                <elementReference>TAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Stage__c</field>
            <value>
                <elementReference>$Record.Loan_Application_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_User__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Activity_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Activity_History2</name>
        <label>Create Activity History</label>
        <locationX>1326</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Owner_Change_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>From_Stage__c</field>
            <value>
                <elementReference>$Record__Prior.Loan_Application_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_To_Queue__c</field>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_User__c</field>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAT__c</field>
            <value>
                <elementReference>TAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Stage__c</field>
            <value>
                <elementReference>$Record.Loan_Application_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_User__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Activity_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Activity_History3</name>
        <label>Create Activity History</label>
        <locationX>886</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Owner_Change_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>From_Stage__c</field>
            <value>
                <elementReference>$Record__Prior.Loan_Application_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_To_Queue__c</field>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_User__c</field>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAT__c</field>
            <value>
                <elementReference>TAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Stage__c</field>
            <value>
                <elementReference>$Record.Loan_Application_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Activity_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Custom_Notification_Type</name>
        <label>get Custom Notification Type</label>
        <locationX>446</locationX>
        <locationY>2123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead_Owner_Change</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Queries</name>
        <label>Get Open Queries</label>
        <locationX>1348</locationX>
        <locationY>3455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Open_Queries_before_Owner_Change_to_CPA_Queue</targetReference>
        </connector>
        <filterLogic>(1 AND 2 ) OR (2 AND 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Loan_Applicant</name>
        <label>Get Primary Loan Applicant</label>
        <locationX>1348</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Stage_and_owner_change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Applicant_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>1084</locationX>
        <locationY>5279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Product_Details_After_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Loan_Applicant</name>
        <label>Get Related Loan Applicant</label>
        <locationX>1348</locationX>
        <locationY>4163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_to_check_changes_of_Loan_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Applicant_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Details_After_Approval</name>
        <label>Update Product Details After Approval</label>
        <locationX>1084</locationX>
        <locationY>5387</locationY>
        <connector>
            <targetReference>Reject_Loan_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Approval_Product_Update_Failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Products.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BL_Processing_Fees_Percent__c</field>
            <value>
                <elementReference>Get_Products.BL_Processing_Fee_Approval__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Processing_Fees__c</field>
            <value>
                <elementReference>Get_Products.Processing_Fees_Amount_Approval__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Rate_of_Interest__c</field>
            <value>
                <elementReference>Get_Products.BL_ROI_Approval__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Sum_Assured__c</field>
            <value>
                <elementReference>Get_Products.BL_Sum_Assured_Approval__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Waive_Insurance__c</field>
            <value>
                <elementReference>Get_Products.BL_Waive_Off_Approval__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BL_Waive_Processing_Fee__c</field>
            <value>
                <elementReference>Get_Products.BL_Waive_Processing_Fee_Approval__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Products__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>314</locationX>
        <locationY>3179</locationY>
        <connector>
            <targetReference>Get_Open_Queries</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1222</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Loan_Applicant</targetReference>
        </connector>
        <object>Loan_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>When Loan Stage change from LAF Generation &amp; Consent to Assigned To Credit  then we have to create RCU Activity (Valuation).</description>
        <name>Call_Ub_Create_RCU_Activity_Subflow_Flow</name>
        <label>Call Ub_Create_RCU_Activity_Subflow_Flow</label>
        <locationX>1216</locationX>
        <locationY>4379</locationY>
        <connector>
            <targetReference>Check_Related_Record_Found_Or_Not</targetReference>
        </connector>
        <flowName>Ub_Create_RCU_Activity_Subflow</flowName>
        <inputAssignments>
            <name>LAF_ID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LOAN_APPLICANT</name>
            <value>
                <elementReference>Get_Related_Loan_Applicant.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>UB_Custom_Notification_Sub_Flow_Flow_1</name>
        <label>UB_Custom Notification Sub  Flow Flow</label>
        <locationX>1414</locationX>
        <locationY>2231</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reject_Loan_Status</targetReference>
        </connector>
        <flowName>UB_Custom_Notification_Flow</flowName>
        <inputAssignments>
            <name>CustomNotificationDeveloperName</name>
            <value>
                <stringValue>Lead_Owner_Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIDs</name>
            <value>
                <elementReference>RO_RM_AND_DSA_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>cmOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cpaOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanApplicationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanApplicationOwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>You have assigned Loan Application -{!$Record.Name}  of {!Get_Primary_Loan_Applicant.Account_Name__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Loan Application Assignment</stringValue>
        </value>
    </variables>
    <variables>
        <name>RECEIPENT_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RO_RM_AND_DSA_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RO_RM_DSA_USER_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test2_oldowner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test3_18character</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
