force-app/main/default/flows/UB_Product_Delete_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Count_No_of_Product</name>
        <label>Count No of Product</label>
        <locationX>468</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>NO_OF_PRODUCTS</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_No_Of_Total_Product_Related_to_Loan_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Financial_Assessment_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Storing_Financial_Assessment_To_Delete</name>
        <label>Storing Financial Assessment  To Delete</label>
        <locationX>270</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>FINANCIAL_ASSESSMENT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Financial_Assessment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Financial_Assessment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Condition_to_delete_Financial_Records</name>
        <label>Check Condition to delete Financial Records</label>
        <locationX>468</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Check_Vehicle_Found_To_DELETE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deleting_Financial_Assessment_Except_FFR_and_Financials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NO_OF_PRODUCTS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Financial_Assessment_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Financial_Assessment</targetReference>
            </connector>
            <label>Deleting Financial Assessment Except  FFR and Financials</label>
        </rules>
        <rules>
            <name>Deleting_All_Related_Financial_Assessment_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NO_OF_PRODUCTS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Financial_Assessment_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Related_Financial_Assessment_Records</targetReference>
            </connector>
            <label>Deleting All Related Financial Assessment record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Financial_Assessment_Found_To_DELETE</name>
        <label>Check  Financial Assessment  Found To DELETE</label>
        <locationX>182</locationX>
        <locationY>1427</locationY>
        <defaultConnector>
            <targetReference>Check_Vehicle_Found_To_DELETE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FINANCIAL_ASSESSMENT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Related_Financial_Assessment_Records1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IsReadOnly_Flag</name>
        <label>Check IsReadOnly Flag</label>
        <locationX>699</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsReadOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Vehicles</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vehicle_Found_To_DELETE</name>
        <label>Check Vehicle Found To DELETE</label>
        <locationX>468</locationX>
        <locationY>1811</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Vehicles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Related_Vehicle_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condition_Check_To_Store_Financial_Assessment</name>
        <label>Condition Check To Store Financial Assessment</label>
        <locationX>402</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Financial_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Storing_Financial_Assessment_Which_Has_Either_FFR_Or_Financial_Record_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Financial_Assessment_RecordType_Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Over_Financial_Assessment.RecordType.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Financial_Assessment_RecordType_Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Over_Financial_Assessment.RecordType.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Storing_Financial_Assessment_To_Delete</targetReference>
            </connector>
            <label>Storing Financial Assessment Which Has Either FFR Or Financial Record Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsReadOnly</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!$Record.Loan_Application__r.Loan_Application_Status__c}, &apos;Cancelled&apos;) || ISPICKVAL({!$Record.Loan_Application__r.Loan_Application_Status__c}, &apos;Rejected&apos;) || {!$User.Id} != {!$Record.Loan_Application__r.OwnerId}, true, false)</expression>
    </formulas>
    <interviewLabel>UB_Product Delete Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UB_Product Delete Flow</label>
    <loops>
        <name>Loop_Over_Financial_Assessment</name>
        <label>Loop Over Financial Assessment</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_Financial_Assessment_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Condition_Check_To_Store_Financial_Assessment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Financial_Assessment_Found_To_DELETE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Deleting All Financial Assessment record whether it&apos;s related to FFR, Financials, Hire vs Buy or Viability record Type</description>
        <name>Delete_Related_Financial_Assessment_Records</name>
        <label>Delete Related  Financial Assessment Records</label>
        <locationX>490</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Check_Vehicle_Found_To_DELETE</targetReference>
        </connector>
        <inputReference>Get_Financial_Assessment_Records</inputReference>
    </recordDeletes>
    <recordDeletes>
        <description>Deleting Financial Assessment record  which is not related to FFR and  Financials record Type</description>
        <name>Delete_Related_Financial_Assessment_Records1</name>
        <label>Delete Related  Financial Assessment Records</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>Check_Vehicle_Found_To_DELETE</targetReference>
        </connector>
        <inputReference>FINANCIAL_ASSESSMENT</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Related_Vehicle_Record</name>
        <label>Delete  Related Vehicle Record</label>
        <locationX>336</locationX>
        <locationY>1919</locationY>
        <inputReference>Get_Related_Vehicles</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Financial_Assessment_Records</name>
        <label>Get Financial Assessment Records</label>
        <locationX>468</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Condition_to_delete_Financial_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Application__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Financial_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_No_Of_Total_Product_Related_to_Loan_Application</name>
        <label>Get No Of Total Product Related to Loan Application</label>
        <locationX>468</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_No_of_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Application__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Vehicles</name>
        <label>Get Related Vehicles</label>
        <locationX>468</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_No_Of_Total_Product_Related_to_Loan_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Application__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>573</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_IsReadOnly_Flag</targetReference>
        </connector>
        <object>Product__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FINANCIAL_ASSESSMENT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Assessment__c</objectType>
    </variables>
    <variables>
        <name>NO_OF_PRODUCTS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
