force-app/main/default/flows/UB_Personal_Discussion_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>Add validation if there is any record with Positive PD status the restrict from creating new records.</description>
        <name>Positive_PD_Status_Record</name>
        <label>Positive PD Status Record</label>
        <locationX>743</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>PositiveRecordExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Exist</defaultConnectorLabel>
        <rules>
            <name>Record_Doesn_t_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_Positive_PD_Record_Exist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Primary_Loan_Applicant</targetReference>
            </connector>
            <label>Record Doesn&apos;t Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate Loan Applicant Record</description>
        <name>Validate_Loan_Applicant_Record</name>
        <label>Validate Loan Applicant Record</label>
        <locationX>611</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Loan Applicant Record (NULL)</defaultConnectorLabel>
        <rules>
            <name>Loan_Applicant_Record_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Primary_Loan_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Address_Record</targetReference>
            </connector>
            <label>Loan Applicant Record (NOT NULL)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate Loan Application ID</description>
        <name>Validate_Loan_Application_ID</name>
        <label>Validate Loan Application ID</label>
        <locationX>858</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Application_ID_NOT_BLANK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanApplicationId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_PD_Record_Id</targetReference>
            </connector>
            <label>Loan Application ID (NOT BLANK)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate PD Record Id</description>
        <name>Validate_PD_Record_Id</name>
        <label>Validate PD Record Id</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Validate_Positive_PD_Record_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Id (NULL)</defaultConnectorLabel>
        <rules>
            <name>Record_Id_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Primary_Loan_Applicant</targetReference>
            </connector>
            <label>Record Id (NOT NULL)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate Personal Discussion Record via recordId</description>
        <name>Validate_Personal_Discussion_Record</name>
        <label>Validate Personal Discussion Record</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>PD (NULL)</defaultConnectorLabel>
        <rules>
            <name>PD_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Personal_Discussion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePersonalDiscussionScreen</targetReference>
            </connector>
            <label>PD (NOT NULL)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Personal Discussion Record ID  is blank.</description>
        <name>Validate_Personal_Discussion_Record_ID</name>
        <label>Validate Personal Discussion Record ID</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>CreatePersonalDiscussionScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PD Record ID (Blank)</defaultConnectorLabel>
        <rules>
            <name>PD_Record_ID_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Personal_Discussion</targetReference>
            </connector>
            <label>PD Record ID (Not Blank)</label>
        </rules>
    </decisions>
    <description>Personal Discussion Form Template</description>
    <dynamicChoiceSets>
        <name>PD_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Personal_Discussion__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PDType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_PD__c</picklistField>
        <picklistObject>Personal_Discussion__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Concatenation Full Address</description>
        <name>FullAddress</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!Fetch_Address_Record.Id})), {!Fetch_Address_Record.Name}+&quot; &quot;+{!Fetch_Address_Record.Address_Line_2__c}+&quot; &quot;+{!Fetch_Address_Record.Address_Line_3__c}+&quot; &quot;+{!Fetch_Address_Record.Pincode__r.City__r.Name}+&quot; &quot;+{!Fetch_Address_Record.District__c}+&quot; &quot;+{!Fetch_Address_Record.State__c}+&quot; &quot;+{!Fetch_Address_Record.Country__c}+&quot; &quot;+{!Fetch_Address_Record.Pincode__r.Name}, &quot; &quot;)</expression>
    </formulas>
    <interviewLabel>UB_Personal Discussion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UB_Personal Discussion Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Personal Discussion Record</description>
        <name>Create_Personal_Discussion</name>
        <label>Create Personal Discussion</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <inputAssignments>
            <field>Appointment_Date__c</field>
            <value>
                <elementReference>Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Application__c</field>
            <value>
                <elementReference>loanApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Remarks__c</field>
            <value>
                <elementReference>Overall_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_PD__c</field>
            <value>
                <elementReference>Personal_Discussion_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Personal_Discussion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Fetch Address Record via Loan Application ID</description>
        <name>Fetch_Address_Record</name>
        <label>Fetch Address Record</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Personal_Discussion_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Primary_Loan_Applicant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Office Address</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch Personal Discussion</description>
        <name>Fetch_Personal_Discussion</name>
        <label>Fetch Personal Discussion</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Personal_Discussion_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Personal_Discussion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch Address Record Information</description>
        <name>Fetch_Primary_Loan_Applicant</name>
        <label>Fetch Primary Loan Applicant</label>
        <locationX>611</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Loan_Applicant_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Applicant_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Validate Positive PD Record Exist against Loan Application.</description>
        <name>Validate_Positive_PD_Record_Exist</name>
        <label>Validate Positive PD Record Exist</label>
        <locationX>743</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Positive_PD_Status_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Positive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Personal_Discussion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Personal Discussion Record</description>
        <name>Update_Personal_Discussion</name>
        <label>Update Personal Discussion</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appointment_Date__c</field>
            <value>
                <elementReference>Edit_Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Remarks__c</field>
            <value>
                <elementReference>Edit_Overall_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Edit_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_PD__c</field>
            <value>
                <elementReference>Edit_Personal_Discussion_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Personal_Discussion__c</object>
    </recordUpdates>
    <screens>
        <name>CreatePersonalDiscussionScreen</name>
        <label>CreatePersonalDiscussionScreen</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Personal_Discussion</targetReference>
        </connector>
        <fields>
            <name>PDFormHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;New Personal Discussion Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Applicant_Information</name>
            <fieldText>Primary Applicant Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Primary_Applicant_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Primary_Loan_Applicant.Account_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Primary_Applicant_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Primary_Loan_Applicant.Mobile__c</elementReference>
                    </defaultValue>
                    <fieldText>Contact Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Primary_Applicant_Information_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullAddressDisplay</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Office Address&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!FullAddress}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Basic_Information</name>
            <fieldText>Basic Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Basic_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Loan_Application_ID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Primary_Loan_Applicant.Name</elementReference>
                    </defaultValue>
                    <fieldText>Loan Application ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Personal_Discussion_Type</name>
                    <choiceReferences>PDType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Personal Discussion Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Overall_Remarks</name>
                    <fieldText>Overall Remarks</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Basic_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Appointment_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Appointment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please add a future date.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Appointment_Date} &gt;= {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Status</name>
                    <choiceReferences>PD_Status</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PositiveRecordExist</name>
        <label>PositiveRecordExist</label>
        <locationX>831</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PositiveRecordExistDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;System Validation:&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;A positive status record exists against the loan application  (&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Validate_Positive_PD_Record_Exist.Loan_Application__r.Name})&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Update Personal Discussion Screen</description>
        <name>UpdatePersonalDiscussionScreen</name>
        <label>UpdatePersonalDiscussionScreen</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Personal_Discussion</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_PDFormHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Edit Personal Discussion Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Primary_Applicant_Information</name>
            <fieldText>Primary Applicant Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Primary_Applicant_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NameDisplay</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Primary_Loan_Applicant.Account_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Primary_Applicant_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Number_Display</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Primary_Loan_Applicant.Mobile__c</elementReference>
                    </defaultValue>
                    <fieldText>Contact Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Primary_Applicant_Information_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AddressDisplay</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Office Address&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!FullAddress}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Basic_Information</name>
            <fieldText>Basic Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Basic_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Loan_Application_ID_Display</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Primary_Loan_Applicant.Name</elementReference>
                    </defaultValue>
                    <fieldText>Loan Application ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Edit_Personal_Discussion_Type</name>
                    <choiceReferences>PDType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Personal_Discussion.Type_of_PD__c</elementReference>
                    </defaultValue>
                    <fieldText>Personal Discussion Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Edit_Overall_Remarks</name>
                    <defaultValue>
                        <stringValue>{!Fetch_Personal_Discussion.Overall_Remarks__c}</stringValue>
                    </defaultValue>
                    <fieldText>Overall Remarks</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Basic_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Edit_Appointment_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Personal_Discussion.Appointment_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Appointment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Edit_Status</name>
                    <choiceReferences>PD_Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Personal_Discussion.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Loan_Application_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loanApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The recordId will be passed from dynamicRelatedList LWC</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
