force-app/main/default/flows/ub_Status_Change_On_Valuation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>1458</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Branch_Mappings.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Branch_Mappings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Ids</name>
        <label>Assign Contact Ids</label>
        <locationX>930</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>contactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id_of_CM</name>
        <label>Assign Id of CM</label>
        <locationX>314</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>recsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Branch_from_Application.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UB_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Account</name>
        <label>Assign Selected Account</label>
        <locationX>1194</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>selectedAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Sampled</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Sampled&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sampled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Screened</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Screened&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Screened</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Get_Related_Accounts</name>
        <label>Check Get Related Accounts</label>
        <locationX>1106</locationX>
        <locationY>1682</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Acocunt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vendor_Mappings</name>
        <label>Check Vendor Mappings</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vendor_Mappings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Acocunt</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_as_per_valuation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Branch_from_Application</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>578</locationX>
        <locationY>2522</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Picklist_value_Is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Decision</targetReference>
            </connector>
            <label>Check Picklist value Is Selected?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Decision Branch</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Branch_from_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vendor_Mappings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_5</name>
        <label>Decision Check Contact Ids</label>
        <locationX>842</locationX>
        <locationY>2198</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Users</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Type_Of_Valuer</name>
        <label>Decision Type Of Valuer</label>
        <locationX>1502</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Loop_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RCU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account.RCU_Type_Valuer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Account</targetReference>
            </connector>
            <label>RCU</label>
        </rules>
        <rules>
            <name>Residence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account.Residence_Type_Valuer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account</targetReference>
            </connector>
            <label>Residence</label>
        </rules>
        <rules>
            <name>Office_FI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account.Office_Type_Valuer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account</targetReference>
            </connector>
            <label>Office FI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Decision</name>
        <label>Status Decision</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SampledStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sampled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_of_Valuation</targetReference>
            </connector>
            <label>Sampled</label>
        </rules>
        <rules>
            <name>ScreenedStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_of_Valuation_For_Screened</targetReference>
            </connector>
            <label>Screened</label>
        </rules>
    </decisions>
    <description>By using this Screen Flow will change the status of Valuation</description>
    <dynamicChoiceSets>
        <name>vendorList</name>
        <collectionReference>Get_Related_Users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ub_Status Change On Valuation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ub_Status Change On Valuation</label>
    <loops>
        <name>Loop_Account</name>
        <label>Loop Account</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_Related_Acocunt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Type_Of_Valuer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Get_Related_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Branch_Mappings</name>
        <label>Loop Branch Mappings</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Vendor_Mappings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Vendor_Mappings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Related_Contacts</name>
        <label>Loop Related Contacts</label>
        <locationX>842</locationX>
        <locationY>1898</locationY>
        <collectionReference>Get_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_5</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Branch_from_Application</name>
        <label>Get Branch from Application</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application_as_per_valuation.Loan_Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Branch__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application_as_per_valuation</name>
        <label>Get Loan Application as per valuation</label>
        <locationX>1898</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loan_Application__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Valuation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Acocunt</name>
        <label>Get Related Acocunt</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPartner</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedAccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Users</name>
        <label>Get Related Users</label>
        <locationX>578</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>contactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_Mappings</name>
        <label>Get Vendor Mappings</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Branch_Mappings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Branch_from_Application.Branch__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vendor_Branch_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_of_Valuation</name>
        <label>Update Status  of Valuation</label>
        <locationX>50</locationX>
        <locationY>2738</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Vendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sampled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suspicious_Triggers__c</field>
            <value>
                <elementReference>Suspicious_Triggers</elementReference>
            </value>
        </inputAssignments>
        <object>Valuation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_of_Valuation_For_Screened</name>
        <label>Update Status  of Valuation For Screened</label>
        <locationX>314</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>Assign_Id_of_CM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Screened</stringValue>
            </value>
        </inputAssignments>
        <object>Valuation__c</object>
    </recordUpdates>
    <screens>
        <name>Change_Status</name>
        <label>Change Status</label>
        <locationX>578</locationX>
        <locationY>2414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <fields>
            <name>Status1</name>
            <choiceReferences>Screened</choiceReferences>
            <choiceReferences>Sampled</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vendor</name>
            <choiceReferences>vendorList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Vendor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Sampled</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Suspicious_Triggers</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Loan_Application_as_per_valuation.Suspicious_Triggers__c</elementReference>
            </defaultValue>
            <fieldText>Suspicious Triggers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Sampled</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1772</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Application_as_per_valuation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>UB_Custom_Notification</name>
        <label>UB_Custom Notification</label>
        <locationX>314</locationX>
        <locationY>2954</locationY>
        <flowName>UB_Custom_Notification_Flow</flowName>
        <inputAssignments>
            <name>CustomNotificationDeveloperName</name>
            <value>
                <stringValue>Lead_Owner_Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Activity Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIDs</name>
            <value>
                <elementReference>recsIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>RCU activity is completed by manager</text>
    </textTemplates>
    <variables>
        <name>accountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Valuation__c</objectType>
    </variables>
</Flow>
