force-app/main/default/flows/Ub_Valuation_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_SHaring</name>
        <label>Apex SHaring</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <actionName>UB_CommonUtil</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordAccessLevel</name>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userOrGroupId</name>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Apex_SHaring2</name>
        <label>Apex SHaring</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <actionName>UB_CommonUtil</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordAccessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userOrGroupId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_RCU_Manager</name>
        <label>Assign RCU Manager</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.RCU_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RCU_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_RecsIds</name>
        <label>Assignment RecsIds</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>recsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UB_Custom_Notification_Sub_Flow_Flow_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_DML</name>
        <label>Check DML</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_SHaring2</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_SHaring</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_User_Role</name>
        <label>Decision User Role</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_DML</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RCU_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCU Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RCU_Manager</targetReference>
            </connector>
            <label>RCU Manager</label>
        </rules>
        <rules>
            <name>RCU_Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USFB - Partner Community User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vendor_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vendor_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner</targetReference>
            </connector>
            <label>RCU Vendor</label>
        </rules>
        <rules>
            <name>Owner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_RecsIds</targetReference>
            </connector>
            <label>Owner Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Ub Valuation After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ub Valuation After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assignment_RecsIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.RCU_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Valuation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RCU_Manager</name>
        <label>Update RCU Manager</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_User_Role</targetReference>
        </connector>
        <object>Valuation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>UB_Custom_Notification_Sub_Flow_Flow_1</name>
        <label>UB_Custom Notification Sub  Flow Flow 1</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_DML</targetReference>
        </connector>
        <flowName>UB_Custom_Notification_Flow</flowName>
        <inputAssignments>
            <name>CustomNotificationDeveloperName</name>
            <value>
                <stringValue>Lead_Owner_Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Activity Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIDs</name>
            <value>
                <elementReference>recsIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have been assigned a new Activity : {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>recsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
