force-app/main/default/flows/Ub_Verification_After_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Checking Cibil score of Applicant to Reject the Loan Application</description>
        <name>Condition_to_Reject_Loan_Application</name>
        <label>Condition to Reject Loan Application</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reject_Loan_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Applicant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cibil_Metadata_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIBIL_Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Applicant__r.Applicant_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applicant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_The_Status_Of_Loan_Application_As_Rejected</targetReference>
            </connector>
            <label>Reject Loan Application</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CIBIL_SCORE</name>
        <dataType>Number</dataType>
        <expression>IF( ISNUMBER({!$Record.Cibil_Score__c}) , VALUE({!$Record.Cibil_Score__c}),0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Ub_Verification After Create Flo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ub_Verification After Create Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cibil_Metadata_Record</name>
        <label>Get Cibil Metadata Record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Condition_to_Reject_Loan_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lower_Limit__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>CIBIL_SCORE</elementReference>
            </value>
        </filters>
        <filters>
            <field>Upper_Limit__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>CIBIL_SCORE</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CIbil_Score__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_The_Status_Of_Loan_Application_As_Rejected</name>
        <label>Update The Status Of Loan Application As Rejected</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Applicant__r.Loan_Application__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan_Application_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason__c</field>
            <value>
                <stringValue>Derogatory CIBIL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Sub_Reason__c</field>
            <value>
                <stringValue>CIBIL score below acceptable range</stringValue>
            </value>
        </inputAssignments>
        <object>Loan_Application__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cibil_Metadata_Record</targetReference>
        </connector>
        <object>Verification__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
