force-app/main/default/flows/Vendor_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>accountIds</name>
        <label>AddaccountIds</label>
        <locationX>270</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>accountIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Vendor_Branch_Mapping.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Vendor_Branch_Mapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Ids</name>
        <label>Add Contact Ids</label>
        <locationX>138</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>contactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Om_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Om_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignApplicantId</name>
        <label>assignApplicantId</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>applicantId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vendorParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_LoanApplicantForFI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCollateralId</name>
        <label>assignCollateralId</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>collateralId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vendorParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Collateral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_10</name>
        <label>Assignment 10</label>
        <locationX>490</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>applicantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loan_Applicant.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Branch_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Vendor_Account_Id</name>
        <label>Assignment of Vendor Account Id</label>
        <locationX>138</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>VENDOR_ACCOUNT_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVehicleId</name>
        <label>assignVehicleId</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vehicleId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vendorParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collateralBranchId</name>
        <label>collateralBranchId</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>branchId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Collateral.Loan_Application__r.Branch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOAN_APPLICATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Collateral.Loan_Application__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_FI_Vendor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FI_Branch_Assignment</name>
        <label>FI Branch Assignment</label>
        <locationX>50</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>branchId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LoanApplicantForFI.Loan_Application__r.Branch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOAN_APPLICATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LoanApplicantForFI.Loan_Application__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Branch_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vehicleBranchId</name>
        <label>vehicleBranchId</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>branchId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vehicle.Loan_Application__r.Branch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOAN_APPLICATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vehicle.Loan_Application__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Collateral</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AddBrancId</name>
        <label>AddBrancId</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Check_Branch_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LoanApplicantForFI.Loan_Application__r.Branch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FI_Branch_Assignment</targetReference>
            </connector>
            <label>Check Branch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>182</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>Check_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_get_Account</targetReference>
            </connector>
            <label>Account Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Branch_Id</name>
        <label>Check Branch Id</label>
        <locationX>336</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Check_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isBranchId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>branchId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vendor_Branch_Mapping</targetReference>
            </connector>
            <label>isBranchId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Collateral</name>
        <label>Check Collateral</label>
        <locationX>336</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Check_FI_Vendor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCollateral</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vendorType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property Valuation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vendorType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCollateralId</targetReference>
            </connector>
            <label>isCollateral</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>336</locationX>
        <locationY>3974</locationY>
        <defaultConnector>
            <targetReference>Check_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_FI_Vendor</name>
        <label>Check FI Vendor</label>
        <locationX>336</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>Get_Loan_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Initiate_Vendor_For_FI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vendorType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Office FI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vendorType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residence FI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vendorType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignApplicantId</targetReference>
            </connector>
            <label>Initiate Vendor For FI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking, Is there any valuation pending with this selected user</description>
        <name>Check_Is_Valuation</name>
        <label>Check Is Valuation</label>
        <locationX>347</locationX>
        <locationY>4790</locationY>
        <defaultConnector>
            <targetReference>Pending_Valuation_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valuation_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Valuation_With_Pending_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Valuation</targetReference>
            </connector>
            <label>Valuation Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User</name>
        <label>Check User</label>
        <locationX>545</locationX>
        <locationY>4358</locationY>
        <defaultConnector>
            <targetReference>No_User_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordType</targetReference>
            </connector>
            <label>isUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vehicle</name>
        <label>Check Vehicle</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_Collateral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isVehicle</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vendorType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehicle Valuation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignVehicleId</targetReference>
            </connector>
            <label>isVehicle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vendor</name>
        <label>Check Vendor</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Check_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Vendor_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vendorParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vendorType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Vehicle</targetReference>
            </connector>
            <label>Check Vendor Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCollateralBranch</name>
        <label>CheckCollateralBranch</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Check_FI_Vendor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>idCollateralBranch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Collateral.Loan_Application__r.Branch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>collateralBranchId</targetReference>
            </connector>
            <label>idCollateralBranch</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVehicleBranch</name>
        <label>CheckVehicleBranch</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Check_Collateral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>idVehicleBranch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vehicle.Loan_Application__r.Branch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vehicleBranchId</targetReference>
            </connector>
            <label>idVehicleBranch</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>UserSet</name>
        <collectionReference>Get_User</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Vendor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendor Screen Flow</label>
    <loops>
        <name>Loop_Om_Contact</name>
        <label>Loop Om Contact</label>
        <locationX>50</locationX>
        <locationY>3506</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_get_Account</name>
        <label>Loop over get Account</label>
        <locationX>50</locationX>
        <locationY>3098</locationY>
        <collectionReference>Get_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_of_Vendor_Account_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Vendor_Branch_Mapping</name>
        <label>Loop Vendor Branch Mapping</label>
        <locationX>182</locationX>
        <locationY>2582</locationY>
        <collectionReference>Get_Vendor_Branch_Mapping</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>accountIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Valuation</name>
        <label>Create Valuation</label>
        <locationX>215</locationX>
        <locationY>4898</locationY>
        <inputAssignments>
            <field>Collateral__c</field>
            <value>
                <elementReference>collateralId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Applicant__c</field>
            <value>
                <elementReference>applicantId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Application__c</field>
            <value>
                <elementReference>LOAN_APPLICATION</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Select_Vendors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCU_Manager__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>vehicleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>Select_Vendors</elementReference>
            </value>
        </inputAssignments>
        <object>Valuation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>2882</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIdSet</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_of_Valuer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorType</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPartner</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Collateral</name>
        <label>Get_Collateral</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCollateralBranch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Collateral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>3398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Om_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>VENDOR_ACCOUNT_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting loan applicant so that we can map the primary applicant with the FI records along with loan Application.</description>
        <name>Get_Loan_Applicant</name>
        <label>Get Loan Applicant</label>
        <locationX>490</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_10</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicle.Loan_Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Collateral.Loan_Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Applicant_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LoanApplicantForFI</name>
        <label>Get_LoanApplicantForFI</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddBrancId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>204</locationX>
        <locationY>4082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>contactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting Valuation which has status as &apos;Pending&apos; And the owner is the same Vendor which has been selected by user through Vendor screen</description>
        <name>Get_Valuation_With_Pending_Status</name>
        <label>Get Valuation With Pending Status</label>
        <locationX>347</locationX>
        <locationY>4682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Is_Valuation</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Vendors</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loan_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Valuation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get_Vehicle</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckVehicleBranch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_Branch_Mapping</name>
        <label>Get Vendor Branch Mapping</label>
        <locationX>182</locationX>
        <locationY>2474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Vendor_Branch_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>branchId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vendor_Branch_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>347</locationX>
        <locationY>4466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vendors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valuation__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Vendor No User Found</description>
        <name>No_User_Found</name>
        <label>No User Found</label>
        <locationX>743</locationX>
        <locationY>4466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_User_Found1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 14, 14);&quot;&gt;There is no Vendor Branch Mapping for &lt;/strong&gt;&lt;strong style=&quot;color: rgb(231, 14, 14); background-color: rgb(255, 255, 255);&quot;&gt; {!vendorType} of Valuer&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>If Any pending valuation found with the selected user the show this error message</description>
        <name>Pending_Valuation_Found</name>
        <label>Pending Valuation Found</label>
        <locationX>479</locationX>
        <locationY>4898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(218, 4, 4);&quot;&gt;Please complete pending activity first to create new activity&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vendors</name>
        <label>Vendors</label>
        <locationX>347</locationX>
        <locationY>4574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Valuation_With_Pending_Status</targetReference>
        </connector>
        <fields>
            <name>Select_Vendors</name>
            <choiceReferences>UserSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Vendor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Vendor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>branchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collateralId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customNotificationDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LOAN_APPLICATION</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Custom Notification Body</description>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>You have been assigned a new Activity</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordOwnerID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SELECTED_RECORD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VENDOR_ACCOUNT_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vendorParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vendorType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
